body.lab-tests-pricing {
    .hero {
        background-color: transparent;
        .title,
        .subtitle {
            color: #fff;
        }
    }
    .section {
        padding-top: 0;
        background-color: transparent;
    }
    blockquote {
        font-size: $size-6;
        color: $grey-light;
    }
    @include from($desktop) {
        #app {
            background: url('/images/home/background_1_lg.jpg') no-repeat center top;
        }
    }
}