body.lab-tests {
    .hero {
        background-color: transparent;
        .title,
        .subtitle {
            color: #fff;
        }
    }
    .section {
        padding-top: 0;
        background-color: transparent;
    }
    blockquote {
        font-size: $size-6;
        color: $grey-light;
    }
    @include from($desktop) {
        #app {
            background: url('/images/lab_tests/background.jpg') no-repeat center top;
            background-size: contain;
        }
    }
}