.margin-0a {
  margin: 0 auto;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

// Overwrites margin bottom absolutely
.ow-margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-sm {
  margin-bottom: $space-sm;
}

.margin-right-xs {
  margin-right: $space-xs;
}

.margin-right-sm {
  margin-right: $space-sm;
}
