.min-width-100 {
  min-width: 100%;
}

.max-width-sm {
  max-width: $max-width-sm;
}

.max-width-md {
  max-width: $max-width-md;
}

.max-width-lg {
  max-width: $max-width-lg;
}

.max-width-xl {
  max-width: $max-width-xl;
}

.max-width-xxl {
  max-width: $max-width-xxl;
}

.max-width-icon {
  max-width: $max-width-icon;
}
