@include space-children;

.space-children-none-md {
  @include query(md) {
    > *:not(:last-child) {
      margin-bottom: 0;
    }  
  }
}

.space-bottom-md {
  margin-bottom: $space-md;
}

.space-top-lg {
  margin-top: $space-lg;
}

.space-top-xl {
  margin-top: $space-xl;
}
