# top-most EditorConfig file
root = true

# Indentation override for all JS under resources/assets/js directory
[resources/assets/js/**/**.js]
indent_style = space
indent_size = 4

[resources/assets/js/**/**.vue]
indent_style = space
indent_size = 4

[*.php]
indent_style = space
indent_size = 4
