.vagrant
app
august
bootstrap
config
database
extensions
helpers
node_modules
public
routes
storage
tests
vagrant_files
vendor
resources/assets/vendors/**
resources/assets/sprite/**
resources/assets/scss/**
resources/assets/other/**
resources/assets/cdn/**
resources/assets/css/**
resources/assets/images/**
resources/lang
resources/views
*.json
