{
    "extends": [
        "eslint:recommended",
        "plugin:vue/recommended"
    ],
    "plugins": ["vue"],
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "semi": [2, "always"],
        "no-undef": "off",
        "no-console": "off",
        "no-useless-escape": "off",
        "indent": ["error", 4]
    }
}
