.DS_Store
.env
.env.dev
.DS_Store
/public/mix-manifest.json
/public/build/*
/ngrok
.env.dusk.local
.env.staging
.env.testing
/.idea
/.vagrant
/.vscode/*
/ngrok
/node_modules
/public/build/*
/public/code-coverage
/public/css/app.css
/public/hot
/public/mix-manifest.json
/public/storage
/storage
/tests/Browser/console/*.*
/vendor
/yarn.lock
Homestead.json
public/css/
public/images/
public/js/
public/legacy/
