/node_modules
/public/storage
/storage/logs/
/storage/debugbar/
/storage/*.key
/vendor
/.idea
Homestead.json
.env
.env.testing
.env.dev
.env.staging
.DS_Store
*.css.map
*.js.map
.vagrant
/public/css/app.css
/public/js/app_public.js
/public/js/app_logged_in.js
/public/js/vendors.js