/node_modules
/public/storage
/public/hot
/storage
/vendor
/.idea
/.vagrant
Homestead.json
.env
.env.testing
.env.dev
.env.staging
.DS_Store
/public/mix-manifest.json
/public/build/*
/ngrok
/.vscode/*
/tests/Browser/console/*.*
/public/css/app.css
/yarn.lock
public/css/
public/images/
public/js/
public/legacy/
