html {
  height: 100%;
}
*, *:before, *:after {
  box-sizing: border-box;
}

#{$global-copy-elements} {
  @extend %copy-main;
}

a {
  @extend %copy-link;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.5em;
}

[v-cloak] {
  display: none;
}

div.v-spinner {
  text-align: center !important;
}
