html {
  height: 100%;
}
*, *:before, *:after {
  box-sizing: border-box;
}

#{$global-copy-elements} {
  @extend %copy-main;
}

a {
  @extend %copy-link;
}

p {
  margin: 0;
}

[v-cloak] {
  display: none;
}

div.v-spinner {
  text-align: center !important;
}
