// Atomic classes in the style of Tachyons with Harvey-specific values

// background-color
.bg-alt { background-color: $alt; }
.bg-blue { background-color: $color-accent-dark; }
.bg-green { background-color: $green; }
.bg-gray-0 { background-color: $gray-0; }
.bg-gray-1 { background-color: $gray-1; }
.bg-gray-2 { background-color: $gray-2; }
.bg-gray-3 { background-color: $gray-3; }
.bg-gray-4 { background-color: $gray-4; }
.bg-gray-5 { background-color: $gray-5; }
.bg-success { background-color: $color-good; }

// border-radius
.circle {
    border-radius: 50%;
    overflow: hidden;
}

// color
.alt { color: $alt; }

// height
.h100 {
    height: 100%;
}

// margin
.m0auto {
    margin: 0 auto;
}
.mha {
    margin-left: auto;
    margin-right: auto;
}

// typography
.uppercase {
    text-transform: uppercase;
}
// padding
@include query(xl) {
    .pa4-xl {
        padding: $spacing-large;
    }
}
