%button-reset {
    appearance: none;
    border: none;
    cursor: pointer;
    font-family: $font-family-main;
    font-size: $font-md;
    outline: none;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
}

%font-smooth {
  -webkit-font-smoothing: antialiased;
}
