$breakpoints: (
  xs: 0px,
  sm: 420px,
  md: 640px,
  lg: 960px,
  xl: 1280px
);

@mixin query($bp) {
  @media screen and (min-width: map-get($breakpoints, $bp)) {
    @content;
  }
}

@mixin btwQuery($min-bp, $max-bp) {
    @media (min-width: map-get($breakpoints, $min-bp)) and (max-width: map-get($breakpoints, $max-bp)) {
      @content;
    }
  }

$breakpoints-height: (
  xs: 0px,
  sm: 320px, // iphone 5 landscape
  md: 560px, // iphone 5 portrait
  lg: 768px, // ipad landscape
  xl: 1024px // ipad portrait
);

@mixin query-height($bp) {
  @media screen and (min-height: map-get($breakpoints-height, $bp)) {
    @content;
  }
}
