.button,
input[type="submit"] {
  @extend %sans--medium;
  appearance: none;
  background-color: $turquoise;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  line-height: 1;
  @include padding(15px 30px);
  text-align: center;
  text-decoration: none;
  transition: background-color .25s ease-in-out;
  user-select: none;
  vertical-align: middle;
  width: auto;
  -webkit-font-smoothing: antialiased;

  &.is-outlined {
    color: $turquoise;
    @include border-color($turquoise);
    background-color: transparent;
    @include padding(9px 16px);
    border: 2px solid;
    font-weight: 500;
    &:hover,
    &:focus{
      color: $turquoise;
      @include border-color($turquoise);
      background-color: transparent;
    }
  }

  &:hover,
  &:focus {
    background-color: darken($turquoise, 10);
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $green;
    }
  }

}

.button--grey {
  @include padding(6px 15px);
  background: #ddd;
  border: 1px solid #ccc;
  color: #5f7278;
  font-size: 15px;

  &:hover,
  &:focus {
    background: #ddd;
    color: #5f7278;
  }

  &:disabled, .disabled--cursor {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover,
    &:focus {
      background: #ddd;
      color: #5f7278;
    }
  }
}

.button--blue {
  background-color: $turquoise;
  color: $white;

  &:focus,
  &:hover {
    background-color: lighten($turquoise, 4%);
  }
}
button.button--blue:disabled {
  background-color: lighten($turquoise, 4%);
  color: rgba(black, 0.5);
  opacity: 1;

  &:hover {
    background-color: lighten($turquoise, 4%);
  }
}

.button--cancel {
  background-color: lighten($gray, 18%);
  @include margin(null null null 1em);

  &:hover,
  &:focus {
    background-color: lighten($gray, 23%);
  }
}

.button--close {
  background: none;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
  &.left {
    float: left;
    right: 0px;
    left: 1em;
    color: $turquoise;
  }
}

.button--close.flyout-close,
.button--cancel.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  background: none;
  border: none;
  padding: 0;
  @include padding(0);

  &.button--close-large {
    svg {
      height: 2em;
      width: 2em;
    }
  }

  & svg {
    position: absolute;
    stroke: #82BEF2;
    stroke-width: 7px;
    height: 20px;
    width: 20px;
    top: 5px;
    right: 5px;
  }

  &:hover {
    background-color: transparent; // overwrites $all-buttons hover state
    svg { stroke: darken($gray, 15%); }
  }
}

.filters {
  @include margin(1em 1em .5em);
  .button--filter {
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
    color: $color-copy-muted-1;
    cursor: pointer;
    font-family: inherit;
    font-size: $font-sm;
    @include margin(null 2em null null);
    @include padding(0.5em 0);

    &.isactive {
      border-color: $color-accent-dark;
    }

    &:hover,
    &.isactive {
      color: $color-copy;
    }

    &:disabled {
      border-color: transparent;
      color: $color-copy-muted-2;
      cursor: default;
    }
  }
}
