// Grays
$white: #fff;
$lightest-gray: #f8f8f8;
$light-gray: #F4F4F4;
$medium-gray: #999999;
$gray: #999999;
$dark-gray: #777777;
$darkest-gray: #444444;

// New Greys
$color--grey: #E4EAEC;

// Brand

$fiord: #4C586F;
$lime: #E3EAA7;
$pink: #EDA1A6;
$brown: #ADA397;
$purple: #BAA7B5;
$turquoise: #82BEF2;
$camouflage: #849974;
$slategrey: #5F7278;
$green: #BDCEBE;
$harvey-green: #B4E7A0;
$red: #FF0000;

.bg-tertiary {
  background-color: $turquoise;
}

.color-tertiary {
  color: $turquoise;
}

.bg-danger {
    background-color: $pink !important;
}

.color-white {
  color: $white;
}

.font-medium-gray {
  color: $medium-gray;
}

.font-dark-gray {
  color: $dark-gray;
}

.font-darkest-gray {
  color: $darkest-gray;
}

.link-color {
  color: $turquoise !important;
  cursor: pointer;
}

.error-color {
  color: $pink !important;
}
