.input-wrap {
  @include margin(null null $space-md null);
  &.last {
    @include margin(null null 20px null);
  }
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

.form-input {
  @extend %copy-main;
  line-height: 1.3;
  width: 100%;

  &_text {
    border: none;
    border-bottom: 1px solid $color-gray-5;
    @include padding(0 0 6px 0);
    &:disabled {
      color: rgba(#444, 0.5);
    }
  }

  &_textarea{
    border: 1px solid $color-gray-5;
    @include padding(7px);
  }

  &_checkbox {
    @include margin($space-xxs 10px 0 0);
    display: inline-table;
    width: auto;
  }

}

.form-radio {
    float: left;
    width: 20px;
    height: 20px;
    @include margin(2px 4px 0 0);
}

.form-label {
  @extend %font-thin;
  text-align: left;

  &_checkbox {
    display: inline-block;
    width: calc(100% - 30px);
    position: relative;
    text-align: center;
    &:hover{
      cursor: pointer;
    }
    .is-hidden-mobile{
      display: none;
      @include query(md) {
        display: inline-block;
      }
    }
  }
}

.error-text {
  color: $color-error;
  display: inline-block;
  font-size: 14px;
  line-height: 1.3;
}

.input__container {
  @include margin(null null 1em null);
  position: relative;
  width: 100%;
  .flyout & {
    width: 100% !important;
    display: table;
  }
}

.radio--text {
  @extend %copy-main;
  font-family: inherit;
  width: 90%;
  float: left;
}

.input__item,
.input--text,
.input--textarea {
  @extend %copy-main;
}

.input-half {
  float: left;
  width: 45%;

  &:first-child {
    margin-right: 10%;
  }

  &--sm {
    @include query(sm) {
      float: left;
      width: 45%;

      &:first-child {
        margin-right: 10%;
      }
    }
  }
}

.input__label {
  @extend %copy-muted;
  @extend %font-bold;
  @extend %font-spaced;
  @extend %font-uppercase;
  @extend %font-sm;

  display: block;
  width: 100%;
  @include margin(null null 0.5em null);

  #skuForm & {
    @include margin(null null 0 null);
  }

  &.first {
    padding-top: 0;
    border: none;
  }
  &.lab-test {
    font-size: 15px;
    @include margin(.5em 0 .25em 0);
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0;
    color: $camouflage;
  }
  &.link-color {
    font-size: 15px;
    @include margin(.5em 0 0);
    text-transform: none;
    font-weight: 500;
    letter-spacing: 0;
  }
  .fa {
    font-size: 14px;
  }
}

.input--text {
  height: 37px;
  font-weight: 300;
  display: block;
  border-radius: 3px;
  border: 1px solid $color--grey;
  @include padding(0.6em 0.8em 0.5em 0.8em);
  width: 100%;
}

.input--textarea {
  font-weight: 300;
  display: block;
  border-radius: 3px;
  border: 1px solid $color--grey;
  @include padding(0.6em 0.8em 0.5em 0.8em);
  line-height: 1.4;
  min-height: 10em;
  width: 100%;
  &.small {
    min-height: 4em;
  }
}

.input--text[readonly="readonly"] {
  border: none;
  @include padding(0.3em 0);
}

.input--warning {
  line-height: 1.45rem;
  color: $color-error;
}

.charcount {
  right: 0;
  position: absolute;
  top: .5em;
}

.input__linkcta {
  display: inline-block;
  @include margin(1.5em null null null);
}

// Radio List

.inventory-left {
  @include margin(0);
  @include padding(5px);
  width: 100%;
  height: 25px;
  font-size: 15px;
  label {
    &:hover{
      cursor: pointer;
    }
  }
  .highlightText {
      color: $turquoise;
  }
}

// Placeholders
::-webkit-input-placeholder { /* Chrome */
  color: $color-copy-muted-1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-copy-muted-1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-copy-muted-1;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $color-copy-muted-1;
  opacity: 1;
}

.hoverInput {
  color: $turquoise;
  position: relative;
  left: 0;
  top: 30px;
  opacity: 0;
  font-size: 18px;
  transform-origin: left top;
  transition: top 300ms ease-in-out;
  pointer-events: none;
  font-family: $sans;
  font-weight: 300;
}

.typed {
  opacity: 1;
  top: 0;
  transform: translateY(-27px) scale(0.78);
  @include margin(null null 20px null);
}

.StripeElement {
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
