.input-wrap {
  @include margin(null null $space-lg null);
  &.last {
    @include margin(null null 20px null);
  }
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

.form-input {
  @extend %copy-main;
  line-height: 1.3;
  width: 100%;

  &_text {
    border: none;
    border-bottom: 1px solid $color-border;
    @include padding(0 0 10px 0);

    &:disabled {
      color: rgba(#444, 0.5);
    }
  }

  &_checkbox {
    @include margin($font-sm 10px 0 0);
    width: auto;
    float: left;
  }

}

.form-radio {
  float: left;
  width: 10%;
}

.form-label {
  @extend %font-thin;
  text-align: left;

  &_checkbox {
    display: inline-block;
    width: calc(100% - 30px);
    position: relative;
    &:hover{
      cursor: pointer;
    }
    .is-hidden-mobile{
      display: none;
      @include query(md) {
        display: inline-block;
      }
    }
  }
}

.error-text {
  color: $red;
  display: inline-block;
  font-size: 14px;
  line-height: 1.3;
}

.input__container {
  @include margin(null null 2.2em null);
  position: relative;
  width: 100%;

  .flyout & {
    width: 100% !important;
  }

  & > * {
    @include margin(0.5em null null null);
  }
}

.radio--text {
  @extend %copy-main;
  font-family: inherit;
  width: 90%;
  float: left;
}

.input__item,
.input--text,
.input--textarea {
  @extend %copy-main;
}

.input-half {
  float: left;
  width: 45%;

  &:first-child {
    margin-right: 10%;
  }

  &--sm {
    @include query(sm) {
      float: left;
      width: 45%;

      &:first-child {
        margin-right: 10%;
      }
    }
  }


}

.input__item.patient-display {
  // font-weight: 500;
}

.input__label {
  @extend %copy-muted;
  @extend %font-bold;
  @extend %font-spaced;
  @extend %font-uppercase;
  @extend %font-xs;

  display: block;
  @include margin(null null 0.5em null);
  width: 100%;

  .flyout & {
    border-top: 1px solid $color-border;
    padding-top: 2.2em;
  }

  &.first {
    padding-top: 0;
    border: none;
  }
}

.input--text,
.input--textarea {
  border: 1px solid $color--grey;
  border-radius: 3px;
  display: block;
  font-weight: 300;
  @include padding(0.6em 0.8em 0.5em 0.8em);
  width: 100%;
}

.input--text[readonly="readonly"] {
  border: none;
  @include padding(0.3em 0);
}

.input--textarea {
  line-height: 1.4;
  min-height: 7em;
}

.input--warning {
  line-height: 1.45rem;
  color: $red;
}

.charcount {
  right: 0;
  position: absolute;
  top: 1.3em;
}

.input__linkcta {
  display: inline-block;
  @include margin(1.5em null null null);
}

.fullscreen-left {
  @include margin(5px);
  width: 100%;
  float: left;
  height: 25px;
  @include padding(5px);
}

.flyout-btn {
  margin: 2rem;
}

.input--text {
  height: 37px;
}

// Placeholders
::-webkit-input-placeholder { /* Chrome */
  color: $color-copy-muted-1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $color-copy-muted-1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $color-copy-muted-1;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $color-copy-muted-1;
  opacity: 1;
}

.hoverInput {
  color: $harvey-primary;
  position: relative;
  left: 0;
  top: 30px;
  opacity: 0;
  font-size: 18px;
  transform-origin: left top;
  transition: top 300ms ease-in-out;
  pointer-events: none;
  font-family: $sans;
  font-weight: 300;
}

.typed {
  opacity: 1;
  top: 0;
  transform: translateY(-27px) scale(0.78);
  @include margin(null null 20px null);
}
