.input-wrap {
  &:not(:last-child) {
    @include margin(null null 30px null);
  }
}

.input-hidden {
  position: absolute;
  left: -9999px;
}

.form-input {
  @extend %sans--medium;
  line-height: 1.3;
  width: 100%;

  &_text {
    border: none;
    border-bottom: 1px solid $gray;
    @include padding(0 0 10px 0);
    font-size: 18px;
  }
  &_checkbox {
    @include margin(null 10px null null);
    font-size: 15px;
    width: auto;
  }
}

.form-radio {
  float: left;
  width: 10%;
}

.form-label {

  &_checkbox {
    color: $gray;
    display: inline-block;
    font-size: 15px;
  }
}

.error-text {
  color: $red;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  @include margin(5px null null null);
}

.input__container {
  @include margin(null null 2.5em null);
  position: relative;
  width: 100%;

  & > * {
    @include margin(0.5em null null null);
  }
}
.radio--text {
  color: darken($gray, 15%);
  font-family: inherit;
  width: 90%;
  float: left;
}
.input__item,
.input--text,
.input--textarea {
  color: darken($gray, 15%);
  font-family: inherit;
}
.input__item.patient-display {
  font-weight: 500;
}
.input__label {
  color: lighten($gray, 15%);
  display: block;
  font-size: 0.85em;
  font-weight: 500;
  letter-spacing: 1px;
  @include margin(null null 0.5em null);
  text-transform: uppercase;
}
.input--text,
.input--textarea {
  border: 1px solid $color--grey;
  border-radius: 3px;
  display: block;
  font-weight: 300;
  @include padding(0.6em 0.8em 0.5em 0.8em);
  width: 100%;
}
.input--text[readonly="readonly"] {
  border: none;
  @include padding(0.3em 0);
}
.input--textarea {
  line-height: 1.4;
  min-height: 7em;
}
.input--warning {
  line-height: 1.45rem;
  color: $red;
}
  .charcount {
    right: 0;
    position: absolute;
    top: -0.5em;
  }
.input__linkcta {
  display: inline-block;
  @include margin(1.5em null null null);
}
.fullscreen-left {
  margin: 5px;
  width: 100%;
  float: left;
  height: 25px;
}
.flyout-btn {
  margin: 2rem;
}
.input--text {
  height: 37px;
}

// Placeholders
::-webkit-input-placeholder { /* Chrome */
  color: $medium-gray;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $medium-gray;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $medium-gray;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: $medium-gray;
  opacity: 1;
}
