h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  @include margin(0 0 15px);
  font-weight: normal;
}

.header-xlarge {
  font-size: 32px;
  font-weight: 300;
}
.header-large {
  font-size: 20px;
}
.header-medium {
  font-size: 16px;
}
.header-small {
  font-size: 14px;
}
.header-xsmall {
  font-size: 10px;
}

.font-small {
  font-size: 14px;
}
.font-base {
  font-size: 16px;
}
.font-medium {
  font-size: 20px;
  &_md {
    @include query(md) {
      font-size: 20px;
    }
  }
}
.font-large {
  font-size: 28px;
}
.font-xlarge {
  font-size: 32px;
  &_md {
    @include query(md) {
      font-size: 32px;
    }
  }
}

.fwt-bold {
  font-weight: 600;
}
.fwt-normal {
  font-weight: 400;
}
.fwt-thin {
  font-weight: 300;
}

.lh-base {
  line-height: 1.4;
}

p {
  font-size: 16px;
  line-height: 1.4;
  @include margin(0 0 10px);

  &.small {
    font-size: 10px;
  }
  &.large {
    font-size: 19px;
  }
}
