// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography
$base-font-family: "proxima-nova";
$heading-font-family: "proxima-nova";

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
// Grays
$white: #fff;
$lightest-gray: #f8f8f8;
$light-gray: #F4F4F4;
$medium-gray: #999999;
$gray: #999999;
$dark-gray: #777777;
$darkest-gray: #444444;

// New Greys
$color--grey: #E4EAEC;

// Brand

$harvey-primary: #B4E7A0;
$harvey-secondary: #5F7278;
$harvey-tertiary: #82BEF2;

$lime: #E3EAA7;
$pink: #EDA1A6;
$brown: #ADA397;
$purple: #BAA7B5;
$blue: #82BEF2;
$turquoise: #82BEF2;
$slategrey: #5F7278;
$green: #BDCEBE;
$red: #FF0000;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
