.button,
input[type="submit"] {
  @extend %sans--medium;
  appearance: none;
  background-color: $turquoise;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  transition: background-color .25s ease-in-out;
  user-select: none;
  vertical-align: middle;
  min-width: 10rem;
  width: auto;

  &.is-outlined {
    color: $turquoise;
    border-color: $turquoise;
    background-color: transparent;
    padding: 9px 16px;
    border: 1px solid;
    &:hover,
    &:focus{
      color: $turquoise;
      border-color: $turquoise;
      background-color: transparent;
    }
  }

  &:hover,
  &:focus {
    background-color: darken($turquoise, 10);
    color: white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    &:hover {
      background-color: $green;
    }
  }

}

.button--cancel {
  background-color: lighten($gray, 10%);
  margin-left: 1em;

  &:hover,
  &:focus {
    background-color: $dark-gray;
  }
}

.button--close.flyout-close,
.button--cancel.modal-close {
  position: absolute;
  right: 1em;
  top: 1em;
  background: none;
  border: none;
  padding: 8px 10px;

  & svg {
    height: 1em;
    position: absolute;
    stroke: $gray;
    stroke-width: 6px;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 1em;
  }

  &:hover {
    background-color: transparent; // overwrites $all-buttons hover state
    svg { stroke: darken($gray, 15%); }
  }
}

.button--filter {
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  margin-right: 1em;
  padding: 0.5em 0;

  &.isactive {
    border-bottom: 3px solid $turquoise;
  }

  &:hover,
  &.isactive {
    color: $dark-gray;
  }

}

button.button--filter:disabled {
  border-bottom: none;
  color: #aaa;
  cursor: default;
}
