.unread {
      border-left: 6px solid #82BEF2 !important; 
  }
.container-message {
    background-color: white; 
    height: 200px;
    border-left: none;
    min-width: 400px;
}
.top-layer {
    float: left; 
    margin: 0 1%;
}
.subject-header {
    margin: 6px 100% 0 0;
}
.message-layer {
    margin: 6px 100% 0 0;
}
.details {
    float: left; 
    margin:6% 3%; 
    width: 80%;
}
.image-card {
    width: 6%; 
    height: 6%; 
    float: left;
    margin: 2%;
}
.image-avatar {
    border-radius: 50%; 
    margin: 85% 20%; 
    float: left;
}
.border-message {
    border-bottom: 2px solid #f8f8f8;
}