////
/// @group layout
////

/// Max width for icons
$max-width-icon: 60px;
/// Max width for left side navigation bar
$max-width-nav: 150px;
/// Max width for right side flyout
$max-width-flyout: 365px;
/// Max width - small
$max-width-sm: 200px;
/// Max width - medium
$max-width-md: 500px;
/// Max width - large
$max-width-lg: 700px;
/// Max width - extra large
$max-width-xl: 980px;

$max-width-xxl: 1200px;
