@import "all.scss";

figure {
    margin-right: 0;
}

.vue-slider-piecewise li + li {
    margin-top: 0;
}

@include from($tablet) {
    .copy-has-max-width {
        max-width: 640px;
        margin: 0 auto;
    }
}


// page specific styles
body {
    // width: 100%;
    // height: 100%;
    overflow-x: hidden;
    &.home,
    &.login,
    &.signup {
        .page-content + .footer {
            display: none;
        }
    }
    &.login,
    &.signup,
    &[class^="password-reset"] {
        &.hero {
            justify-content: flex-start;
        }
        .page-content {
            .container {
                @include from(400px) {
                    margin: 0 auto;
                    width: 340px;
                }
            }
        }
        .section {
            background-color: transparent;
        }
        a.button:not(.is-primary) {
            color: $grey-darker;
        }
    }
    &.home {
        color: $text-secondary;
        .content {
            &, h1, h2, h3, h4, h5, h6, .title, .subtitle, strong {
                color: $text-secondary;
            }
            @include from($tablet) {
                text-align: center;
            }
        }
        .title,
        .subtitle {
            strong {
                font-weight: 700;
            }
        }
        .image img {
            height: 100%;
        }
        #app {
            height: auto;
            min-height: 100%;
            width: 100%;
            position: relative;
        }
        .page-content {
            position: relative;
            min-height: 100%;
            overflow: hidden;
        }
        .header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 101;
        }
        .sections {
            margin-top: 52px; // nav height
        }
        .tagline {
            margin-top: $space-xsmall;
            margin-bottom: $size-2;
        }
        .homepage-icon {
            position: relative;
            padding: 0;
        }
        .copy-has-max-width + .columns {
            margin-top: $size-2;
        }
        .disclaimer {
            display: inline-block;
            margin-bottom: $space-small;
        }
        #comparison,
        #number {
            .homepage-icon {
                margin: 0 auto $space-small;
                & + p {
                    margin: 0 auto $space-small;
                }
            }
        }
        #comparison {
            .homepage-icon + p {
                width: 180px;
            }
        }
        #steps {
            .title.is-5 {
                margin-bottom: 0.5rem;
            }
            .columns {
                @include tablet-only {
                    text-align: left;
                }
            }
            @include from($desktop) {
                .step-column-wrapper {
                    display: block;
                    .column {
                        margin: 0 auto;
                    }
                    .image {
                        margin: 0 auto;
                    }
                }
            }
        }
        .step-number {
            @extend .font-secondary-family;
            display: inline-block;
            width: $size-3;
            height: $size-3;
            line-height: $size-3;
            text-align: center;
            background: #fff;
            border-radius: 50%;
            position: absolute;
            top: 0;
            font-size: $size-4;
            @include from($desktop) {
                transform: translateX(70%);
            }
        }
        #number { // icon assets are not the same sizes, have to adjust them now
            .image {
                &.is-64x64 {
                    width: auto;
                    max-width: 80px;
                }
                img {
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                    margin: 0 auto;
                }
            }
        }
        .symptoms-selector-wrapper {
            // max-width: 800px;
            margin-bottom: $space-medium;
        }
        .vue-slider-tooltip.vue-slider-tooltip-top {
            top: -3px;
        }
        @include from($widescreen) {
            .section {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                &:nth-child(1) {
                    background-image: url('/images/home/background_1.jpg');
                }
                &:nth-child(2) {
                    background-image: url('/images/home/background_2.jpg');
                }
                &:nth-child(3) {
                    background-image: url('/images/home/background_3.jpg');
                }
                &:nth-child(4) {
                    background-image: url('/images/home/background_4.png');
                    background-size: contain;
                    background-position: top center;
                }
                &:nth-child(5) {
                    background-image: url('/images/home/background_5.jpg');
                }
                .section-wrapper {
                    width: 95%;
                    margin: 0 auto;
                    padding: $space-medium;
                    background: rgba($light-tan, $opacity-dark);
                    background-image: linear-gradient(rgba($light-tan, $opacity-dark), rgba(#fff, $opacity-dark));
                }
            }
        }
        @include from($desktop) {
            #number,
            #symptoms {
                .columns {
                    text-align: left;
                }
            }
        }
    }
}

// home page
@mixin from($device) {
    @media screen and (min-width: $device) {
        @content
    }
}

// scroll behavior starts from desktop
.has-scroll-behavior {
    .hero {
        background-color: transparent;
        &.is-fullheight {
            min-height: 100%;
        }
    }
    &.sections,
    .section,
    .footer {
        transition: cubic-bezier(1,.03,.42,.88) .6s;
    }
    &.sections {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        &.current {
            transform: translateY(0);
            z-index: 1;
            ~ .section {
                transform: translateY(100%);
            }
        }
    }
    .footer {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
    }
    .nav-sections {
        position: fixed;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        li {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
        a {
            display: block;
            width: 14px;
            height: 14px;
            border: 2px solid $secondary;
            border-radius: 50%;
            transition: all .3s;
        }
        .current a {
            background-color: $secondary;
        }
    }
}