@import "mixins";
@import "sprite";
@import "all.scss";
@import "pages/home.scss";

@include sprites($spritesheet-sprites);
@include retina-sprites($retina-groups);

// navigation
@include until($tablet) {
    .nav-left {
        display: none;
    }
    .nav-center {
        margin-left: 0;
    }
}

// page specific styles
body {
    &.home,
    &.login,
    &.signup {
        .page-content + .footer {
            display: none;
        }
    }
    &.login,
    &.signup,
    &[class^="password-reset"] {
        &.hero {
            justify-content: flex-start;
        }
        .page-content {
            .container {
                @include from(400px) {
                    margin: 0 auto;
                    width: 340px;
                }
            }
        }
        .section {
            background-color: transparent;
        }
        a.button:not(.is-primary) {
            color: $grey-darker;
        }
    }
}