@import "mixins";
@import "sprite";
@import "all.scss";
@import "pages/home.scss";
@import "pages/signup.scss";

@include sprites($spritesheet-sprites);
@include retina-sprites($retina-groups);

// elements
blockquote {
    font-family: $family-secondary;
    font-style: italic;
    font-size: $size-5;
}

.is-paddingless-mobile {
    @include until($tablet) {
        padding: 0 !important;
    }
}

.column.is-auto-desktop {
    @include from($desktop) {
        width: auto;
        flex: 1;
    }
}

// page specific styles
body {
    &.login,
    &.signup,
    &[class^="password-reset"] {
        .page-content + .footer {
            display: none;
        }
    }
    &.login,
    &.signup,
    &[class^="password-reset"] {
        &.hero {
            justify-content: flex-start;
        }
        .page-content {
            .container {
                @include from(400px) {
                    margin: 0 auto;
                    width: 340px;
                }
            }
        }
        .section {
            background-color: transparent;
        }
        a.button:not(.is-primary) {
            color: $grey-darker;
        }
    }
}
