body.about {
    
    // General

    &, h1, h2, h3, h4, h5, h6, .title, .subtitle, strong, .content, .menu-list a:not(.is-active), .label {
        color: $text-secondary;
    }
    .title.is-1 { // Override
        font-size: 3rem;
    }
    .watch-video {
        &:focus {
            outline: 0;
        }
        &:hover{
            img {
                opacity: .8;
            }
            cursor: pointer;
            svg {
                left: 1px;
            }
        }
    }
    .video-intro {
        max-width: 200px;
        @include padding(20px 0 0 20px);
    }
    .subtitle {
        line-height: 1.5;
        font-weight: 500;
    }
    figure {
        @include margin(null 0 null null);
    }
    .button.is-medium {
        height: auto;
        @include padding(1rem 3rem);
        @include margin(0.5rem null null null);
    }
    .columns.is-narrow {
        max-width: 1052px;
        @include margin(null null null auto);
        @include margin(null auto null null);
    }

    // Hero

    .hero {
        position: relative;
        @include until($desktop) {
            min-height: initial;
            @include padding(3.5rem null null null);
        }
        .hero-background {
            width: 100%;
            // background-image: gradient;
            background: lighten(#EFEFEF, 90%) url('/images/home/hero_new.jpg') no-repeat center top;
            background-size: cover;
            background-position: 75%;
            &, &:after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            &:after {
                content: ' ';
                display: block;
                background-color: rgba(darken(#EFEFEF, 90%), $opacity-light);
            }
            @include from($tablet) {
                background-image: url('/images/home/hero_new.jpg');
                background-size: cover;
                background-position: 75%;
            }
            @include from($megascreen) {
                background-image: url('/images/home/hero_new.jpg');
                background-size: cover;
                background-position: 75%;
            }
        }
        @include from($megascreen) {
            min-height: initial;
            .hero-body {
                @include padding(9rem null null null);
                @include padding(null null 9rem null);
            }
        }
    }
    .has-content-vertical-aligned {
        @include from($desktop) {
            position: relative;
            .content,
            .has-content-vertical-aligned-content {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                @include margin(null null null 0.75rem);
                @include margin(null 0.75rem null null);
            }
        }
    }

    .image-has-max-height {
        @include until($desktop) {
            max-height: 500px;
            overflow: hidden;
        }
    }

    // Elements

    .section-header {
        text-transform: uppercase;
        text-align: center;
        @include margin(null null 2em null);
        span {
            font-weight: 500;
        }
        @include from($tablet) {
            display: table;
            white-space: nowrap;
            overflow: hidden;
            span {
                @include margin(0 $space-medium);
                vertical-align: middle
            }
            &:before,
            &:after {
                display: table-cell;
                content: ' ';
                width: 50%;
                border-top: 1px solid $border;
                position: relative;
                top: 0.7em;
            }
        }
        & + .columns {
            @include margin(3rem null null null);
        }
    }
    .button-wrapper {
        img {
            @include margin(null 10px null null);
            max-width: 60px;
        }
        @include until($tablet) {
            text-align: center;
        }
    }
    .tagline {
        @include margin($space-xsmall null null null);
        @include margin(null null $size-2 null);
    }
    .icon-wrapper {
        text-align: center;
        &.icon-wrapper-has-background {
            width: 100px;
            height: 100px;
            @include padding(20px null null null);
            border-radius: 50%;
            display: inline-block;
            &.is-lime {
                @include background-gradient($harvey-lime);
            }
            &.is-pink {
                @include background-gradient($harvey-pink);
            }
            &.is-brown {
                @include background-gradient($harvey-brown);
            }
            &.is-purple {
                @include background-gradient($harvey-purple);
            }
            &.is-turquoise {
                @include background-gradient($harvey-turquoise);
            }
            &.is-slategrey {
                @include background-gradient($harvey-slategrey);
            }
            &.is-green {
                @include background-gradient($harvey-green);
            }
        }
    }
    .copy-has-max-width + .columns {
        @include margin($size-3 null $size-3 null);
    }
    .disclaimer {
        font-size: 1.125em;
        max-width: 380px;
        @include margin(null null null auto);
        @include margin(null auto null null null);
    }
    .label:not(:last-child){
        margin-bottom: 0;
    }
    .symptoms-selector-wrapper {
        li + li {
            @include margin(0 null null null);
        }
    }
    .is-3-widescreen {
        @include from($widescreen) {
            font-size: $size-3;
        }
    }

    #integrative-medicine {
        @include margin(null null 1em null);
        .icon-wrapper {
            &.icon-wrapper-has-background {
                width: 80px;
                height: 80px;
                padding-top: 16px;
            }
        }
        .introduction {
            @include margin(null null 2rem null);
            img {
                max-width: 470px;
            }
        }
        figure.has-margin {
            @include margin(2rem 3rem);
            @include margin(null null 3.5rem null);
        }
        .columns {
            @include padding(0 20px 15px 0);
            transform: translateX(1.5rem);
        }
        @include until($tablet) {
            @include padding(null null null 0);
        }

    }

    #western-medicine, #labs {
        @include padding(null null 5rem null);
        .columns {
            background-color: #fff;
        }
    }

    #western-medicine{
        background-image: linear-gradient(180deg, #FFFFFF 10%, $harvey-green 100%);
    }

    #labs{
        background-image: linear-gradient(180deg, #FFFFFF 10%, $harvey-purple 100%);
        .button {
            @include margin(null null 20px null);
        }
        @include from($desktop) {
            figure {
                max-width: 475px;
            }
        }
        @include until($desktop) {
            .button-wrapper {
                text-align: center;
            }
            figure {
                width: 100%;
            }
        }
    }

    #tests {
        .columns {
            @include margin(0 null null null);
        }
    }

    #social-feed, #symptoms {
        .social-feed {
            @include margin(40px null null null);
            img {
                max-width: 30px;
            }
        }
    }

    #how-it-works {
        
        .instructions{
            margin-bottom: 1rem;
        }

        @include from($desktop) {
            text-align: center;
            .column.columns {
                flex-direction: column;
                @include margin(null null 50px null);
                .icon-wrapper {
                    @include margin(0 auto);
                }
            }
        }
        @include until($desktop) {
            .columns {
                .column {
                    text-align: left;
                    .column {
                        @include padding(null null null 0);
                    }
                }
            }
            .title {
                @include margin(0 0 1rem);
            }
        }
        em {
            @include margin(10px 0);
        }
    }

    #stories, #advisors {
        a {
            &:focus {
                outline: 0; 
            }
        }
        .column {
            p {
                @include margin(10px null 0 null);
            }
            em {
                font-size: 16px;
                color: #AAA;
            }
        }
    }

    #symptoms {
        @include margin(null null 4rem null);
        .circle img{
            border-radius: 100%;
            max-width: 70%;
            @include padding(5px 0 0);
        }
    }

    #get-started {
        background: linear-gradient(120deg, #FFFFFF 0%, #F9F9F9 50%);
        @include padding(70px 0 90px);
        h2 {
            @include margin(null null 0 null);
        }
        p {
            color: $tertiary;
            font-size: 1.2rem;
        }
    }

    // Misc

    .vue-slider-tooltip.vue-slider-tooltip-top {
        top: -3px;
    }

    .anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }

    // Mailchimp

    #mc_embed_signup form {
        @include margin(null null 10px null);
    }

    #mc_embed_signup input {
        font-family: "proxima-nova";
        font-size: 15px;
        weight: 100px;
        height: 38px;
    }
    #mc_embed_signup .button {
        max-width: 200px;
        background: $primary;
    }
    #mc_embed_signup #mce-EMAIL{
        max-width: 200px;
        @include padding(null null null 12px);
        &:focus,
        &:active {
            outline: none;
        }
    }  


    // Media

    @include until($tablet) {
        .title {
            &.is-1,
            &.is-2 {
                font-size: 2rem;
            }
        }
    }
    @include from($desktop) {
        #symptoms {
            .columns {
                text-align: left;
            }
        }
    }
}
