body.about {
    .hero {
        .hero-background {
            background: url('https://d35oe889gdmcln.cloudfront.net/assets/images/about/hero_about.jpg') no-repeat center top;
            background-size: cover;
            background-position: 0 10%;
        }
        .hero-body {
            .title {
                color: #fff;
                font-size: 34px;
            }
            .subtitle {
                color: #fff;
                font-size: 1.5em;
                @include until($tablet) {
                    font-size: 1.2em;
                }
            }
        }
    }
    .icon-wrapper {
        text-align: center;
        &.icon-wrapper-has-background {
            width: 80px;
            height: 80px;
            padding-top: 15px;
            margin-top: 1rem;
        }
    }
}