body.about {
    .hero {
        .hero-background {
            background: url('/images/about/hero_about.jpg') no-repeat center top;
            background-size: cover;
            background-position: 0 10%;
        }
        .hero-body {
            .title {
                color: #fff;
                font-size: 34px;
            }
            .subtitle {
                color: #fff;
                font-size: 26px;
            }
        }
    }
}
