// Eventually combine into a single Vue template
body.home,
body.about,
body[class*="lab-tests"] {

    // General

    &, h1, h2, h3, h4, h5, h6, .title, .subtitle, strong, .content, .menu-list a:not(.is-active), .label {
        color: $text-secondary;
    }

    strong {
        font-weight: 600;
    }

    .small {
        font-size: 13px;
    }

    // Hero Images

    .hero {
        width: 100%;
        position: relative;
        @include padding(3.5rem null 2.5rem null);

        .hero-body {
            @include padding(6em 1em);
            @include until($desktop) {
                @include padding(3em 1em 1em);
            }
        }

        .title,
        .title.is-5 strong,
        .subtitle {
            color: #fff;
        }

        .title.is-1 { // Override
            color: #fff;
            font-size: 2.8rem;
        }

        .subtitle{
            @include until(1192px) {
                font-size: 17px;
                &.is-5{
                    font-size: 18px;
                }
                &.is-6{
                    font-size: 16px;
                }
            }
        }

        .hero-disclaimer {
            @include padding(null 3em null);
            p {
                color: white;
                font-size: 14px;
                margin-top: 1em;
                a.legal {
                    color: white;
                    text-decoration: underline;
                }
            }
        }

        &.hero-background {
            width: 100%;
            background: #5F7278;
            height: auto;

            #hero-video-container {
              overflow: hidden;
              position: absolute;
              height: 100%; width: 100%;
              top: 0; left: 0; right: 0; bottom: 0;
              opacity: .6;
            }

            #hero-video {
              position: absolute;
              top: 50%; left: 50%;
              height: 100%; width: 100%;
              transform: translate(-50%, -50%);
              object-fit: cover;
            }

            #video-cover {
              position: absolute;
              width: 100%; height: 100%;
              background-size: cover;
              background-position: center;
              // Background image defined at bottom
            }

            #overlay {
              position: absolute;
              top: 0; right: 0; left: 0; bottom: 0;
              background: rgba(227, 186, 179, .6)
            }
        }

    }

    .watch-video {
        &:focus {
            outline: 0;
        }
        &:hover{
            img {
                opacity: .8;
            }
            cursor: pointer;
            svg {
                left: 1px;
            }
        }
    }
    .video-intro {
        max-width: 200px;
        @include padding(20px 0 0 20px);
    }
    .subtitle {
        line-height: 1.5;
        font-weight: 500;
    }
    .button.is-medium {
        height: auto;
        @include padding(.5rem 2rem);
        @include margin(0.5rem null null null);
    }
    .columns.is-narrow {
        max-width: 1052px;
        @include margin(null auto);
    }
    .has-content-vertical-aligned {
        @include from($desktop) {
            position: relative;
            .content,
            .has-content-vertical-aligned-content {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                @include margin(null null null 0.75rem);
                @include margin(null 0.75rem null null);
            }
        }
    }

    .image-has-max-height {
        @include until($desktop) {
            max-height: 500px;
            overflow: hidden;
        }
    }

    // Elements

    .section-header {
        text-transform: uppercase;
        text-align: center;
        span {
            font-weight: 300;
        }
        
            display: table;
            white-space: nowrap;
            overflow: hidden;
            span {
                @include margin(0 $space-medium);
                vertical-align: middle
            }
            &:before,
            &:after {
                display: table-cell;
                content: ' ';
                width: 50%;
                border-top: $border;
                position: relative;
                top: 0.7em;
            }
        
        & + .columns {
            @include margin(3em null 0 null);
        }
    }
    .button-wrapper {
        img {
            @include margin(null 10px null null);
            max-width: 60px;
        }
        @include until($tablet) {
            text-align: center;
        }
    }
    .tagline {
        @include margin($space-xsmall null null null);
        @include margin(null null $size-2 null);
    }

    // Icons

    .icon-wrapper {
        text-align: center;
        &.icon-wrapper-has-background {
            width: 100px;
            height: 100px;
            @include padding(20px null null null);
            border-radius: 50%;
            display: inline-block;
            transition:all 0.5s ease-out;
            &.is-lime {
                @include background-gradient($harvey-sage);
            }
            &.is-pink {
                @include background-gradient($harvey-pink);
            }
            &.is-brown {
                @include background-gradient($harvey-brown);
            }
            &.is-purple {
                @include background-gradient($harvey-purple);
            }
            &.is-turquoise {
                @include background-gradient($harvey-turquoise);
            }
            &.is-slategrey {
                @include background-gradient($harvey-slategrey);
            }
            &.is-green {
                @include background-gradient($harvey-green);
            }
            &.is-ford {
                @include background-gradient($harvey-ford);
            }
            &.is-gray {
                @include background-gradient($harvey-gray);
            }
            &.expand {
                &:hover{
                    opacity: .80;
                    transform:scale(1.1);
                }
            }
        }
    }
    .copy-has-max-width + .columns {
        @include margin($size-3 null $size-3 null);
    }
    .disclaimer {
        font-size: 1.125em;
        max-width: 380px;
        @include margin(null null null auto);
        @include margin(null auto null null null);
    }
    .label:not(:last-child){
        margin-bottom: 0;
    }
    .is-3-widescreen {
        @include from($widescreen) {
            font-size: $size-3;
        }
    }

    #feature{
        &.western{
            background-image: linear-gradient(180deg, #FFFFFF 10%, $harvey-green 100%);
            .image {
                img {
                    width: 100%;
                    margin: 0 auto;
                    @include padding(35px);
                    @include until($tablet) {
                        @include padding(0);
                    }
                }
                @include from($desktop) {
                    max-width: 530px;
                }
            }
        }
        @include padding(null null 5rem null);
        .columns {
            background-color: #fff;
        }
        background-image: linear-gradient(180deg, #FFFFFF 10%, $harvey-purple 100%);
        .button {
            @include margin(null null 20px null);
        }
        @include from($desktop) {
            figure {
                max-width: 475px;
            }
        }
        @include until($desktop) {
            .button-wrapper {
                text-align: center;
            }
            figure {
                width: 100%;
            }
        }
    }

    #tests {
        .columns {
            @include margin(0 null null null);
        }
    }

    #email-capture {
        width: 100%;
        padding: 5rem 0 1rem;
        background-image: linear-gradient(180deg, #4C586F 20%, white 100%);
        h2.title,
        p.subtitle{
            color: #FFF;
            em {
                font-weight: 500;
                color: #E3BAB3;
            }
        }
        #ebook-wrapper {
            width: 50px;
            margin-right: 5px;
            display: inline-block;
            img {
                margin: -20px 0;
                width: 100%;
            }
        }
        form {
            @include margin(null null 3rem null);
            input{
                width: 30%;
                @include padding(.7em 1em .7em 1em);
                @include margin(null null null null);
                border-radius: 3px;
                box-shadow: none;
                border-style: solid;
                border: 1px solid #eee;
                background: #f9f9f9;
                color: #444;
                font-size: 1rem;
                @include until($tablet) {
                    width: 50%;
                }
            }
            button{
                line-height: .1em;
                @include margin(null null null .5rem);
                @include padding(1.3em 2em);
            }
            input:focus,
            select:focus,
            textarea:focus,
            button:focus {
                outline: none;
            }
        }
    }

    // Social Feed

    #social-feed{
        opacity: .7;
        //@include padding(0);
    }

    #social-feed, #symptoms {
        .social-feed {
            @include margin(40px null null null);
            img {
                max-width: 30px;
            }
        }
    }

    // How it Works

    .how-it-works {

        .instructions{
            margin-bottom: .5rem;
        }

        .icon {
            &.full {
            height: 3.8rem;
            width: 3.8rem;
            }
        }

        @include from($desktop) {
            text-align: center;
            .column.columns {
                flex-direction: column;
                @include margin(null null 50px null);
                .icon-wrapper {
                    @include margin(0 auto);
                }
            }
        }
        @include until($desktop) {
            .columns {
                .column {
                    text-align: center !important;
                    @include padding(null null 0 null);
                    .column {
                        @include padding(null null 0 0);
                    }
                }
            }
            .title {
                @include margin(0 0 1rem);
            }
        }
        em {
            @include margin(10px 0);
        }
    }

    // Patient Stories

    #stories, #advisors {
        a {
            &:focus {
                outline: 0;
            }
        }
        .column {
            p {
                @include margin(10px null 0 null);
            }
            em {
                font-size: 16px;
                color: #AAA;
            }
        }
    }

    // Financing 

    #financing {
        figure {
            @include padding(null 6em);
        }
        .columns.is-narrow {
            max-width: 930px;
            @include margin(3em auto);
        }
    }

    // Sub-Footer

    .get-started {
        background: linear-gradient(120deg, #FFFFFF 0%, #F9F9F9 50%);
        @include padding(70px 0 90px);
        h2 {
            @include margin(null null 0 null);
        }
        p {
            // color: $tertiary;
            font-size: 1.2rem;
        }
        .get-started-disclaimer {
            margin-top: 3em;
            p, em {
                color: gray;
                font-size: 15px;
                margin-top: 1em;
            }
        }
    }

    // Symptoms

    #symptoms {
        @include margin(null null 3rem null);
        .symptoms-selector-wrapper {
            li + li {
                @include margin(0 null null null);
            }
        }
        .circle img{
            border-radius: 100%;
            max-width: 70%;
            @include padding(5px 0 0);
        }
        @include from($desktop) {
            .columns {
                text-align: left;
                @include margin(null null 10px null);
            }
        }
        .label {
            font-weight: 500;
        }
    }

    // Misc

    .vue-slider-tooltip.vue-slider-tooltip-top {
        top: -3px;
    }

    .anchor {
        display: block;
        position: relative;
        top: -60px;
        visibility: hidden;
    }

    // Mailchimp

    #mc_embed_signup form {
        @include margin(null null 10px null);
    }

    #mc_embed_signup input {
        font-family: "proxima-nova";
        font-size: 15px;
        weight: 100px;
        height: 38px;
    }
    #mc_embed_signup .button {
        max-width: 200px;
        background: $primary;
    }
    #mc_embed_signup #mce-EMAIL{
        max-width: 200px;
        @include padding(null null null 12px);
        &:focus,
        &:active {
            outline: none;
        }
    }

    // Media

    @include until($tablet) {
        .title {
            &.is-1,
            &.is-2 {
                font-size: 2rem;
            }
        }
    }
}

// Cover images

body.home {
    #video-cover {
        background: #5F7278 url('https://d35oe889gdmcln.cloudfront.net/assets/images/home/hero-cover-home.jpg') no-repeat;
    }
}

body.about {
    #video-cover {
        background: #5F7278 url('https://d35oe889gdmcln.cloudfront.net/assets/images/about/hero-cover-about.jpg') no-repeat;
    }
}

body.financing {
    #video-cover {
        background-color: #4C586F;
        background-image: linear-gradient(-180deg, #4C586F 0%, #D6CBD3 100%);
    }
    #overlay {
        display: none;
    }
}

body[class*="lab-tests"] {
    #video-cover {
        background: #5F7278 url('https://d35oe889gdmcln.cloudfront.net/assets/images/lab_tests/hero-cover-lab-tests.jpg') no-repeat;
    }
}
