body.lab-tests {
    overflow-x: hidden;
    overflow-y: scroll;
    .hero {
        background-color: transparent;
        .title {
            color: #fff;
            font-size: 34px;
        }
        .subtitle {
            color: #fff;
            font-size: 23px;
        }
    }
    .section {
        @include padding(0);
        @include margin(null null 60px null);
        background-color: transparent;
    }
    .tab {
        .title {
            @include margin(null null 0 null);
        }
    }
    blockquote {
        font-size: $size-6;
        color: $grey-dark;
    }
    #app {
        padding: 0;
        background-image: linear-gradient(180deg, $harvey-slategrey 0%, #FFFFFF 60%);
        &:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            content: ' ';
            display: block;
            @include from($desktop) {
                display: none;
            }
        }
    }
}