body.lab-tests {
    
    overflow-x: hidden;
    overflow-y: scroll;

    #app {
        background-image: linear-gradient(180deg, $harvey-slategrey 0%, #FFFFFF 60%);
    }

    .hero {
        background-color: transparent;
        .title {
            color: #fff;
            font-size: 34px;
        }
        .subtitle {
            color: #fff;
            font-size: 23px;
        }
    }
    .section {
        @include padding(0);
        @include margin(null null 60px null);
        background-color: transparent;
        header.level {
            padding: 10px 25px 0;
        }
        .content {
            padding: 0 25px 50px;
        }
    }
    .tab {
        .title {
            @include margin(null null 0 null);
        }
    }
    blockquote {
        font-size: $size-6;
        color: $grey-dark;
    }
}