body[class*="lab-tests"] { // to account for all the additional routes
    .hero {
        .hero-background {
            background: url('https://d35oe889gdmcln.cloudfront.net/assets/images/lab_tests/blood-draw.jpg') no-repeat center top;
            background-size: cover;
            background-position: 0 52%;
        }
        .hero-body {
            .title {
                color: #fff;
                font-size: 34px;
            }
            .subtitle {
                color: #fff;
                font-size: 1.5em;
                @include until($tablet) {
                    font-size: 1.2em;
                }
            }
        }
    }
    .page-content {
        .section{
            overflow: hidden;
            .container{
                &.bg-white {
                    border: 1px solid #eee;
                    min-height: 500px;
                    max-width: 1152px;
                    @include margin(null null 3rem null);
                    overflow: hidden;
                }
            }
            .tabs-navigation {
                .menu-list {
                    line-height: 1.25;
                    border-right: 1px solid #eee;
                    li {
                        border-bottom: 1px solid #eee;
                        &.menu-label{
                            line-height: 35px;
                            text-transform: uppercase;
                            color: #ddd;
                            padding-left: 12px;
                            font-size: 13px;
                            margin-bottom: 0;
                            letter-spacing: 0.1em;
                        }
                    }
                    a {
                        color: $text;
                        display: block;
                        padding: 0.5em 0.75em;
                        border-radius: 0;
                        &:hover {
                            background-color: $background;
                            color: $link;
                        }
                        &.is-active {
                            background-color: $link;
                            color: $link-invert;
                        }
                    }
                }
            }
            .tabs-content {
                .copy-has-max-width {
                    max-width: 700px;
                }
                h3.title {
                    margin-bottom: 0;
                }
                blockquote {
                    font-size: 15px;
                    color: #888;
                }
                @include from($mobile) {
                    .tab {
                        margin: 30px 20px;
                        .media-left {
                            img {
                                max-width: 85px;
                            }
                        }
                    }
                }
                @include until($tablet) {
                    .tab {
                        margin: 20px 15px;
                    }
                }
                @include from($desktop) {
                    .tab {
                        margin: 50px auto;
                    }
                }
            }
        }
    }
}
