body.signup {
    @include padding(null null 30px null);
    overflow-y: hidden;
    a[href*="/signup"] {
        display: none;
    }
    &.widget {
        &.widget-on-focus {
            height: 100vh;
        }
    }
    .signup-options {
        text-align: left;
        max-width: 320px;
        @include margin(null null null auto);
        @include margin(null null auto null);
        @include from($tablet) {
            max-width: none;
            @include margin(2rem null null null);
            text-align: center;
        }
    }
    .signup-option-item {
        span {
            display: inline-block;
            text-align: left;
        }
        .icon {
            font-size: 2rem;
            @include margin(0.75em null null null);
        }
        @include from($tablet) {
            @include margin(null null null 0);
            @include margin(null null 0 null);
            &:not(:last-child) {
                position: relative;
                &:after {
                    content: ' ';
                    display: block;
                    width: 1px;
                    height: 100%;
                    background-color: #fff;
                    opacity: 0.5;
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
    .disclaimer {
        @include margin(-1rem null null null);
    }
    .merchant-header {
        display: none;
    }
    .hero {
        transition: max-height $speed $speed * 0.25;
        &.animated {
            max-height: 0px;
        }
    }
}
