.Divider-or {
  border-bottom: 1px dashed $color-copy-muted-2;
  position: relative;
  margin: 24px auto;
  max-width: 320px;

  &::after {
    background: $color-white;
    color: $color-copy-muted-2;
    content: 'OR';
    font-size: 12px;
    padding: $space-xs;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -14px;
  }
}
