@include from($tablet) {
    .dropdown {
        position: relative;
        .dropdown-button {
            padding-right: 0;
            cursor: pointer;
            &.nav-toggle {
                display: block;
            }
        }
        .dropdown-list {
            padding: 0;
            display: none;
            position: absolute;
            top: $size-1;
            background: #fff;
            box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1);
            &:before,
            &:after {
                content: "";
                display: inline-block;
                position: absolute;
            }
            &.is-active {
                display: block;
            }
            &.dropdown-list_align-right {
                right: 0.75rem;
                &:before {
                    top: -10px;
                    right: 3px;
                    bottom: auto;
                    border: 10px solid transparent;
                    border-top: 0;
                    border-bottom-color: $border;
                }
                &:after {
                    top: -9px;
                    right: 4px;
                    bottom: auto;
                    border: 9px solid transparent;
                    border-top: 0;
                    border-bottom-color: #fff;
                }
            }
            a {
                white-space: nowrap;
            }
        }
    }
}