// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$icon-comparison-2-name: 'icon_comparison_2';
$icon-comparison-2-x: 48px;
$icon-comparison-2-y: 0px;
$icon-comparison-2-offset-x: -48px;
$icon-comparison-2-offset-y: 0px;
$icon-comparison-2-width: 48px;
$icon-comparison-2-height: 48px;
$icon-comparison-2-total-width: 240px;
$icon-comparison-2-total-height: 192px;
$icon-comparison-2-image: '../../images/sprite.png';
$icon-comparison-2: (48px, 0px, -48px, 0px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_comparison_2', );
$icon-comparison-3-name: 'icon_comparison_3';
$icon-comparison-3-x: 96px;
$icon-comparison-3-y: 96px;
$icon-comparison-3-offset-x: -96px;
$icon-comparison-3-offset-y: -96px;
$icon-comparison-3-width: 48px;
$icon-comparison-3-height: 48px;
$icon-comparison-3-total-width: 240px;
$icon-comparison-3-total-height: 192px;
$icon-comparison-3-image: '../../images/sprite.png';
$icon-comparison-3: (96px, 96px, -96px, -96px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_comparison_3', );
$icon-comparison-4-name: 'icon_comparison_4';
$icon-comparison-4-x: 0px;
$icon-comparison-4-y: 48px;
$icon-comparison-4-offset-x: 0px;
$icon-comparison-4-offset-y: -48px;
$icon-comparison-4-width: 48px;
$icon-comparison-4-height: 48px;
$icon-comparison-4-total-width: 240px;
$icon-comparison-4-total-height: 192px;
$icon-comparison-4-image: '../../images/sprite.png';
$icon-comparison-4: (0px, 48px, 0px, -48px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_comparison_4', );
$icon-medicine-1-name: 'icon_medicine_1';
$icon-medicine-1-x: 48px;
$icon-medicine-1-y: 48px;
$icon-medicine-1-offset-x: -48px;
$icon-medicine-1-offset-y: -48px;
$icon-medicine-1-width: 48px;
$icon-medicine-1-height: 48px;
$icon-medicine-1-total-width: 240px;
$icon-medicine-1-total-height: 192px;
$icon-medicine-1-image: '../../images/sprite.png';
$icon-medicine-1: (48px, 48px, -48px, -48px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_medicine_1', );
$icon-medicine-2-name: 'icon_medicine_2';
$icon-medicine-2-x: 96px;
$icon-medicine-2-y: 0px;
$icon-medicine-2-offset-x: -96px;
$icon-medicine-2-offset-y: 0px;
$icon-medicine-2-width: 48px;
$icon-medicine-2-height: 48px;
$icon-medicine-2-total-width: 240px;
$icon-medicine-2-total-height: 192px;
$icon-medicine-2-image: '../../images/sprite.png';
$icon-medicine-2: (96px, 0px, -96px, 0px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_medicine_2', );
$icon-medicine-3-name: 'icon_medicine_3';
$icon-medicine-3-x: 96px;
$icon-medicine-3-y: 48px;
$icon-medicine-3-offset-x: -96px;
$icon-medicine-3-offset-y: -48px;
$icon-medicine-3-width: 48px;
$icon-medicine-3-height: 48px;
$icon-medicine-3-total-width: 240px;
$icon-medicine-3-total-height: 192px;
$icon-medicine-3-image: '../../images/sprite.png';
$icon-medicine-3: (96px, 48px, -96px, -48px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_medicine_3', );
$icon-medicine-4-name: 'icon_medicine_4';
$icon-medicine-4-x: 0px;
$icon-medicine-4-y: 96px;
$icon-medicine-4-offset-x: 0px;
$icon-medicine-4-offset-y: -96px;
$icon-medicine-4-width: 48px;
$icon-medicine-4-height: 48px;
$icon-medicine-4-total-width: 240px;
$icon-medicine-4-total-height: 192px;
$icon-medicine-4-image: '../../images/sprite.png';
$icon-medicine-4: (0px, 96px, 0px, -96px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_medicine_4', );
$icon-medicine-5-name: 'icon_medicine_5';
$icon-medicine-5-x: 48px;
$icon-medicine-5-y: 96px;
$icon-medicine-5-offset-x: -48px;
$icon-medicine-5-offset-y: -96px;
$icon-medicine-5-width: 48px;
$icon-medicine-5-height: 48px;
$icon-medicine-5-total-width: 240px;
$icon-medicine-5-total-height: 192px;
$icon-medicine-5-image: '../../images/sprite.png';
$icon-medicine-5: (48px, 96px, -48px, -96px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_medicine_5', );
$icon-medicine-6-name: 'icon_medicine_6';
$icon-medicine-6-x: 0px;
$icon-medicine-6-y: 0px;
$icon-medicine-6-offset-x: 0px;
$icon-medicine-6-offset-y: 0px;
$icon-medicine-6-width: 48px;
$icon-medicine-6-height: 48px;
$icon-medicine-6-total-width: 240px;
$icon-medicine-6-total-height: 192px;
$icon-medicine-6-image: '../../images/sprite.png';
$icon-medicine-6: (0px, 0px, 0px, 0px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_medicine_6', );
$icon-number-1-name: 'icon_number_1';
$icon-number-1-x: 144px;
$icon-number-1-y: 0px;
$icon-number-1-offset-x: -144px;
$icon-number-1-offset-y: 0px;
$icon-number-1-width: 48px;
$icon-number-1-height: 48px;
$icon-number-1-total-width: 240px;
$icon-number-1-total-height: 192px;
$icon-number-1-image: '../../images/sprite.png';
$icon-number-1: (144px, 0px, -144px, 0px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_number_1', );
$icon-number-2-name: 'icon_number_2';
$icon-number-2-x: 144px;
$icon-number-2-y: 48px;
$icon-number-2-offset-x: -144px;
$icon-number-2-offset-y: -48px;
$icon-number-2-width: 48px;
$icon-number-2-height: 48px;
$icon-number-2-total-width: 240px;
$icon-number-2-total-height: 192px;
$icon-number-2-image: '../../images/sprite.png';
$icon-number-2: (144px, 48px, -144px, -48px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_number_2', );
$icon-number-3-name: 'icon_number_3';
$icon-number-3-x: 144px;
$icon-number-3-y: 96px;
$icon-number-3-offset-x: -144px;
$icon-number-3-offset-y: -96px;
$icon-number-3-width: 48px;
$icon-number-3-height: 48px;
$icon-number-3-total-width: 240px;
$icon-number-3-total-height: 192px;
$icon-number-3-image: '../../images/sprite.png';
$icon-number-3: (144px, 96px, -144px, -96px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_number_3', );
$icon-number-4-name: 'icon_number_4';
$icon-number-4-x: 0px;
$icon-number-4-y: 144px;
$icon-number-4-offset-x: 0px;
$icon-number-4-offset-y: -144px;
$icon-number-4-width: 48px;
$icon-number-4-height: 48px;
$icon-number-4-total-width: 240px;
$icon-number-4-total-height: 192px;
$icon-number-4-image: '../../images/sprite.png';
$icon-number-4: (0px, 144px, 0px, -144px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_number_4', );
$icon-steps-1-name: 'icon_steps_1';
$icon-steps-1-x: 48px;
$icon-steps-1-y: 144px;
$icon-steps-1-offset-x: -48px;
$icon-steps-1-offset-y: -144px;
$icon-steps-1-width: 48px;
$icon-steps-1-height: 48px;
$icon-steps-1-total-width: 240px;
$icon-steps-1-total-height: 192px;
$icon-steps-1-image: '../../images/sprite.png';
$icon-steps-1: (48px, 144px, -48px, -144px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_steps_1', );
$icon-steps-2-name: 'icon_steps_2';
$icon-steps-2-x: 96px;
$icon-steps-2-y: 144px;
$icon-steps-2-offset-x: -96px;
$icon-steps-2-offset-y: -144px;
$icon-steps-2-width: 48px;
$icon-steps-2-height: 48px;
$icon-steps-2-total-width: 240px;
$icon-steps-2-total-height: 192px;
$icon-steps-2-image: '../../images/sprite.png';
$icon-steps-2: (96px, 144px, -96px, -144px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_steps_2', );
$icon-steps-3-name: 'icon_steps_3';
$icon-steps-3-x: 144px;
$icon-steps-3-y: 144px;
$icon-steps-3-offset-x: -144px;
$icon-steps-3-offset-y: -144px;
$icon-steps-3-width: 48px;
$icon-steps-3-height: 48px;
$icon-steps-3-total-width: 240px;
$icon-steps-3-total-height: 192px;
$icon-steps-3-image: '../../images/sprite.png';
$icon-steps-3: (144px, 144px, -144px, -144px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_steps_3', );
$icon-steps-4-name: 'icon_steps_4';
$icon-steps-4-x: 192px;
$icon-steps-4-y: 0px;
$icon-steps-4-offset-x: -192px;
$icon-steps-4-offset-y: 0px;
$icon-steps-4-width: 48px;
$icon-steps-4-height: 48px;
$icon-steps-4-total-width: 240px;
$icon-steps-4-total-height: 192px;
$icon-steps-4-image: '../../images/sprite.png';
$icon-steps-4: (192px, 0px, -192px, 0px, 48px, 48px, 240px, 192px, '../../images/sprite.png', 'icon_steps_4', );
$retina-icon-comparison-2-name: 'retina_icon_comparison_2';
$retina-icon-comparison-2-x: 96px;
$retina-icon-comparison-2-y: 0px;
$retina-icon-comparison-2-offset-x: -96px;
$retina-icon-comparison-2-offset-y: 0px;
$retina-icon-comparison-2-width: 96px;
$retina-icon-comparison-2-height: 96px;
$retina-icon-comparison-2-total-width: 480px;
$retina-icon-comparison-2-total-height: 384px;
$retina-icon-comparison-2-image: '../../images/sprite@2x.png';
$retina-icon-comparison-2: (96px, 0px, -96px, 0px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_comparison_2', );
$retina-icon-comparison-3-name: 'retina_icon_comparison_3';
$retina-icon-comparison-3-x: 192px;
$retina-icon-comparison-3-y: 192px;
$retina-icon-comparison-3-offset-x: -192px;
$retina-icon-comparison-3-offset-y: -192px;
$retina-icon-comparison-3-width: 96px;
$retina-icon-comparison-3-height: 96px;
$retina-icon-comparison-3-total-width: 480px;
$retina-icon-comparison-3-total-height: 384px;
$retina-icon-comparison-3-image: '../../images/sprite@2x.png';
$retina-icon-comparison-3: (192px, 192px, -192px, -192px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_comparison_3', );
$retina-icon-comparison-4-name: 'retina_icon_comparison_4';
$retina-icon-comparison-4-x: 0px;
$retina-icon-comparison-4-y: 96px;
$retina-icon-comparison-4-offset-x: 0px;
$retina-icon-comparison-4-offset-y: -96px;
$retina-icon-comparison-4-width: 96px;
$retina-icon-comparison-4-height: 96px;
$retina-icon-comparison-4-total-width: 480px;
$retina-icon-comparison-4-total-height: 384px;
$retina-icon-comparison-4-image: '../../images/sprite@2x.png';
$retina-icon-comparison-4: (0px, 96px, 0px, -96px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_comparison_4', );
$retina-icon-medicine-1-name: 'retina_icon_medicine_1';
$retina-icon-medicine-1-x: 96px;
$retina-icon-medicine-1-y: 96px;
$retina-icon-medicine-1-offset-x: -96px;
$retina-icon-medicine-1-offset-y: -96px;
$retina-icon-medicine-1-width: 96px;
$retina-icon-medicine-1-height: 96px;
$retina-icon-medicine-1-total-width: 480px;
$retina-icon-medicine-1-total-height: 384px;
$retina-icon-medicine-1-image: '../../images/sprite@2x.png';
$retina-icon-medicine-1: (96px, 96px, -96px, -96px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_medicine_1', );
$retina-icon-medicine-2-name: 'retina_icon_medicine_2';
$retina-icon-medicine-2-x: 192px;
$retina-icon-medicine-2-y: 0px;
$retina-icon-medicine-2-offset-x: -192px;
$retina-icon-medicine-2-offset-y: 0px;
$retina-icon-medicine-2-width: 96px;
$retina-icon-medicine-2-height: 96px;
$retina-icon-medicine-2-total-width: 480px;
$retina-icon-medicine-2-total-height: 384px;
$retina-icon-medicine-2-image: '../../images/sprite@2x.png';
$retina-icon-medicine-2: (192px, 0px, -192px, 0px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_medicine_2', );
$retina-icon-medicine-3-name: 'retina_icon_medicine_3';
$retina-icon-medicine-3-x: 192px;
$retina-icon-medicine-3-y: 96px;
$retina-icon-medicine-3-offset-x: -192px;
$retina-icon-medicine-3-offset-y: -96px;
$retina-icon-medicine-3-width: 96px;
$retina-icon-medicine-3-height: 96px;
$retina-icon-medicine-3-total-width: 480px;
$retina-icon-medicine-3-total-height: 384px;
$retina-icon-medicine-3-image: '../../images/sprite@2x.png';
$retina-icon-medicine-3: (192px, 96px, -192px, -96px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_medicine_3', );
$retina-icon-medicine-4-name: 'retina_icon_medicine_4';
$retina-icon-medicine-4-x: 0px;
$retina-icon-medicine-4-y: 192px;
$retina-icon-medicine-4-offset-x: 0px;
$retina-icon-medicine-4-offset-y: -192px;
$retina-icon-medicine-4-width: 96px;
$retina-icon-medicine-4-height: 96px;
$retina-icon-medicine-4-total-width: 480px;
$retina-icon-medicine-4-total-height: 384px;
$retina-icon-medicine-4-image: '../../images/sprite@2x.png';
$retina-icon-medicine-4: (0px, 192px, 0px, -192px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_medicine_4', );
$retina-icon-medicine-5-name: 'retina_icon_medicine_5';
$retina-icon-medicine-5-x: 96px;
$retina-icon-medicine-5-y: 192px;
$retina-icon-medicine-5-offset-x: -96px;
$retina-icon-medicine-5-offset-y: -192px;
$retina-icon-medicine-5-width: 96px;
$retina-icon-medicine-5-height: 96px;
$retina-icon-medicine-5-total-width: 480px;
$retina-icon-medicine-5-total-height: 384px;
$retina-icon-medicine-5-image: '../../images/sprite@2x.png';
$retina-icon-medicine-5: (96px, 192px, -96px, -192px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_medicine_5', );
$retina-icon-medicine-6-name: 'retina_icon_medicine_6';
$retina-icon-medicine-6-x: 0px;
$retina-icon-medicine-6-y: 0px;
$retina-icon-medicine-6-offset-x: 0px;
$retina-icon-medicine-6-offset-y: 0px;
$retina-icon-medicine-6-width: 96px;
$retina-icon-medicine-6-height: 96px;
$retina-icon-medicine-6-total-width: 480px;
$retina-icon-medicine-6-total-height: 384px;
$retina-icon-medicine-6-image: '../../images/sprite@2x.png';
$retina-icon-medicine-6: (0px, 0px, 0px, 0px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_medicine_6', );
$retina-icon-number-1-name: 'retina_icon_number_1';
$retina-icon-number-1-x: 288px;
$retina-icon-number-1-y: 0px;
$retina-icon-number-1-offset-x: -288px;
$retina-icon-number-1-offset-y: 0px;
$retina-icon-number-1-width: 96px;
$retina-icon-number-1-height: 96px;
$retina-icon-number-1-total-width: 480px;
$retina-icon-number-1-total-height: 384px;
$retina-icon-number-1-image: '../../images/sprite@2x.png';
$retina-icon-number-1: (288px, 0px, -288px, 0px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_number_1', );
$retina-icon-number-2-name: 'retina_icon_number_2';
$retina-icon-number-2-x: 288px;
$retina-icon-number-2-y: 96px;
$retina-icon-number-2-offset-x: -288px;
$retina-icon-number-2-offset-y: -96px;
$retina-icon-number-2-width: 96px;
$retina-icon-number-2-height: 96px;
$retina-icon-number-2-total-width: 480px;
$retina-icon-number-2-total-height: 384px;
$retina-icon-number-2-image: '../../images/sprite@2x.png';
$retina-icon-number-2: (288px, 96px, -288px, -96px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_number_2', );
$retina-icon-number-3-name: 'retina_icon_number_3';
$retina-icon-number-3-x: 288px;
$retina-icon-number-3-y: 192px;
$retina-icon-number-3-offset-x: -288px;
$retina-icon-number-3-offset-y: -192px;
$retina-icon-number-3-width: 96px;
$retina-icon-number-3-height: 96px;
$retina-icon-number-3-total-width: 480px;
$retina-icon-number-3-total-height: 384px;
$retina-icon-number-3-image: '../../images/sprite@2x.png';
$retina-icon-number-3: (288px, 192px, -288px, -192px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_number_3', );
$retina-icon-number-4-name: 'retina_icon_number_4';
$retina-icon-number-4-x: 0px;
$retina-icon-number-4-y: 288px;
$retina-icon-number-4-offset-x: 0px;
$retina-icon-number-4-offset-y: -288px;
$retina-icon-number-4-width: 96px;
$retina-icon-number-4-height: 96px;
$retina-icon-number-4-total-width: 480px;
$retina-icon-number-4-total-height: 384px;
$retina-icon-number-4-image: '../../images/sprite@2x.png';
$retina-icon-number-4: (0px, 288px, 0px, -288px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_number_4', );
$retina-icon-steps-1-name: 'retina_icon_steps_1';
$retina-icon-steps-1-x: 96px;
$retina-icon-steps-1-y: 288px;
$retina-icon-steps-1-offset-x: -96px;
$retina-icon-steps-1-offset-y: -288px;
$retina-icon-steps-1-width: 96px;
$retina-icon-steps-1-height: 96px;
$retina-icon-steps-1-total-width: 480px;
$retina-icon-steps-1-total-height: 384px;
$retina-icon-steps-1-image: '../../images/sprite@2x.png';
$retina-icon-steps-1: (96px, 288px, -96px, -288px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_steps_1', );
$retina-icon-steps-2-name: 'retina_icon_steps_2';
$retina-icon-steps-2-x: 192px;
$retina-icon-steps-2-y: 288px;
$retina-icon-steps-2-offset-x: -192px;
$retina-icon-steps-2-offset-y: -288px;
$retina-icon-steps-2-width: 96px;
$retina-icon-steps-2-height: 96px;
$retina-icon-steps-2-total-width: 480px;
$retina-icon-steps-2-total-height: 384px;
$retina-icon-steps-2-image: '../../images/sprite@2x.png';
$retina-icon-steps-2: (192px, 288px, -192px, -288px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_steps_2', );
$retina-icon-steps-3-name: 'retina_icon_steps_3';
$retina-icon-steps-3-x: 288px;
$retina-icon-steps-3-y: 288px;
$retina-icon-steps-3-offset-x: -288px;
$retina-icon-steps-3-offset-y: -288px;
$retina-icon-steps-3-width: 96px;
$retina-icon-steps-3-height: 96px;
$retina-icon-steps-3-total-width: 480px;
$retina-icon-steps-3-total-height: 384px;
$retina-icon-steps-3-image: '../../images/sprite@2x.png';
$retina-icon-steps-3: (288px, 288px, -288px, -288px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_steps_3', );
$retina-icon-steps-4-name: 'retina_icon_steps_4';
$retina-icon-steps-4-x: 384px;
$retina-icon-steps-4-y: 0px;
$retina-icon-steps-4-offset-x: -384px;
$retina-icon-steps-4-offset-y: 0px;
$retina-icon-steps-4-width: 96px;
$retina-icon-steps-4-height: 96px;
$retina-icon-steps-4-total-width: 480px;
$retina-icon-steps-4-total-height: 384px;
$retina-icon-steps-4-image: '../../images/sprite@2x.png';
$retina-icon-steps-4: (384px, 0px, -384px, 0px, 96px, 96px, 480px, 384px, '../../images/sprite@2x.png', 'retina_icon_steps_4', );
$spritesheet-width: 240px;
$spritesheet-height: 192px;
$spritesheet-image: '../../images/sprite.png';
$spritesheet-sprites: ($icon-comparison-2, $icon-comparison-3, $icon-comparison-4, $icon-medicine-1, $icon-medicine-2, $icon-medicine-3, $icon-medicine-4, $icon-medicine-5, $icon-medicine-6, $icon-number-1, $icon-number-2, $icon-number-3, $icon-number-4, $icon-steps-1, $icon-steps-2, $icon-steps-3, $icon-steps-4, );
$spritesheet: (240px, 192px, '../../images/sprite.png', $spritesheet-sprites, );
$retina-spritesheet-width: 480px;
$retina-spritesheet-height: 384px;
$retina-spritesheet-image: '../../images/sprite@2x.png';
$retina-spritesheet-sprites: ($retina-icon-comparison-2, $retina-icon-comparison-3, $retina-icon-comparison-4, $retina-icon-medicine-1, $retina-icon-medicine-2, $retina-icon-medicine-3, $retina-icon-medicine-4, $retina-icon-medicine-5, $retina-icon-medicine-6, $retina-icon-number-1, $retina-icon-number-2, $retina-icon-number-3, $retina-icon-number-4, $retina-icon-steps-1, $retina-icon-steps-2, $retina-icon-steps-3, $retina-icon-steps-4, );
$retina-spritesheet: (480px, 384px, '../../images/sprite@2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$icon-comparison-2-group-name: 'icon_comparison_2';
$icon-comparison-2-group: ('icon_comparison_2', $icon-comparison-2, $retina-icon-comparison-2, );
$icon-comparison-3-group-name: 'icon_comparison_3';
$icon-comparison-3-group: ('icon_comparison_3', $icon-comparison-3, $retina-icon-comparison-3, );
$icon-comparison-4-group-name: 'icon_comparison_4';
$icon-comparison-4-group: ('icon_comparison_4', $icon-comparison-4, $retina-icon-comparison-4, );
$icon-medicine-1-group-name: 'icon_medicine_1';
$icon-medicine-1-group: ('icon_medicine_1', $icon-medicine-1, $retina-icon-medicine-1, );
$icon-medicine-2-group-name: 'icon_medicine_2';
$icon-medicine-2-group: ('icon_medicine_2', $icon-medicine-2, $retina-icon-medicine-2, );
$icon-medicine-3-group-name: 'icon_medicine_3';
$icon-medicine-3-group: ('icon_medicine_3', $icon-medicine-3, $retina-icon-medicine-3, );
$icon-medicine-4-group-name: 'icon_medicine_4';
$icon-medicine-4-group: ('icon_medicine_4', $icon-medicine-4, $retina-icon-medicine-4, );
$icon-medicine-5-group-name: 'icon_medicine_5';
$icon-medicine-5-group: ('icon_medicine_5', $icon-medicine-5, $retina-icon-medicine-5, );
$icon-medicine-6-group-name: 'icon_medicine_6';
$icon-medicine-6-group: ('icon_medicine_6', $icon-medicine-6, $retina-icon-medicine-6, );
$icon-number-1-group-name: 'icon_number_1';
$icon-number-1-group: ('icon_number_1', $icon-number-1, $retina-icon-number-1, );
$icon-number-2-group-name: 'icon_number_2';
$icon-number-2-group: ('icon_number_2', $icon-number-2, $retina-icon-number-2, );
$icon-number-3-group-name: 'icon_number_3';
$icon-number-3-group: ('icon_number_3', $icon-number-3, $retina-icon-number-3, );
$icon-number-4-group-name: 'icon_number_4';
$icon-number-4-group: ('icon_number_4', $icon-number-4, $retina-icon-number-4, );
$icon-steps-1-group-name: 'icon_steps_1';
$icon-steps-1-group: ('icon_steps_1', $icon-steps-1, $retina-icon-steps-1, );
$icon-steps-2-group-name: 'icon_steps_2';
$icon-steps-2-group: ('icon_steps_2', $icon-steps-2, $retina-icon-steps-2, );
$icon-steps-3-group-name: 'icon_steps_3';
$icon-steps-3-group: ('icon_steps_3', $icon-steps-3, $retina-icon-steps-3, );
$icon-steps-4-group-name: 'icon_steps_4';
$icon-steps-4-group: ('icon_steps_4', $icon-steps-4, $retina-icon-steps-4, );
$retina-groups: ($icon-comparison-2-group, $icon-comparison-3-group, $icon-comparison-4-group, $icon-medicine-1-group, $icon-medicine-2-group, $icon-medicine-3-group, $icon-medicine-4-group, $icon-medicine-5-group, $icon-medicine-6-group, $icon-number-1-group, $icon-number-2-group, $icon-number-3-group, $icon-number-4-group, $icon-steps-1-group, $icon-steps-2-group, $icon-steps-3-group, $icon-steps-4-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
