@import "mixins";
@import "sprite";
@import "all.scss";
@import "../v2/settings/-INDEX";
@import "../v2/atomic/-INDEX";
@import "../v2/modules/-INDEX";
@import "../../styles/base";
@import "pages/public.scss";
@import "pages/lab_tests.scss";

@include sprites($spritesheet-sprites);
@include retina-sprites($retina-groups);

.button {
    &.is-primary {
        &.has-arrow {
            &:after {
                content: "\f105";
                font-family: FontAwesome;
                color: #fff;
                transition: margin 0.2s ease;
                @include margin(null null null .25em);
                @include margin(null .25em null null);
                position: relative;
                right: -.5em;
            }
            @at-root &:hover:after {
                @include margin(null null null .5em);
                @include margin(null 0 null null);
            }
        }
        &.is-outlined {
            &.has-arrow {
                &:after {
                    color: $primary;
                }
            }
            &:focus,
            &:hover {
                color: $primary;
                background-color: transparent;
            }
        }
    }
    &.is-secondary {
        color: $harvey-purple;
        @include border-color($harvey-purple);
        &.has-arrow {
            &:after {
                content: "\f105";
                font-family: FontAwesome;
                color: $harvey-purple;
                transition: margin 0.2s ease;
                @include margin(null null null .25em);
                @include margin(null .25em null null);
                position: relative;
                right: -.5em;
            }
        }
    }
}

.page-content {
    p:not(.title),
    .content ul {
        font-family: $family-secondary;
    }
}

.error-text {
  color: red;
  margin-top: 1em;
  opacity: 0;

  &.is-visible {
    opacity: 1;
  }
}

.success-text {
  margin-top: 1em;
  color: #579757;
}

// page specific styles
body {
    &.signup,
    &.register {
        #app {
            @include padding( null null 0 null);
        }
    }
    &.login,
    &.signup:not(.widget),
    &[class*="password-reset"],
    &[class*="404"] {
        .page-content + .footer {
            display: none;
        }
        &.hero {
            justify-content: flex-start;
        }
        .page-content {
            .container {
                @include margin(0 auto);
                width: 100%;
                max-width: 510px;
            }
        }
        .section {
            background-color: transparent;
        }
        a.button:not(.is-primary) {
            color: $grey-darker;
        }
    }
    &.home,
    &.about,
    &[class*="lab-tests"], // to account for new routes
    &.404 {
        .header.is-inverted {
            background-color: transparent;
            box-shadow: none;
            .harvey-logo-icon {
                fill: #fff;
                @include from($mobile) {
                    fill: $primary;
                }
            }
            @at-root .no-svg & .logo-wrapper {
                background-image: url('https://d35oe889gdmcln.cloudfront.net/assets/images/logos/mobile-logo-inverted.png');
            }
            .button {
                &:not(.is-outlined) {
                    color: $tertiary;
                    background-color: #fff;
                    &:hover,
                    &:active,
                    &:focus {
                        color: #fff;
                        background-color: $tertiary;
                    }
                }
                &.is-outlined {
                    color: #fff;
                    @include border-color(#fff);
                    &:hover,
                    &:active,
                    &:focus {
                        color: darken($tertiary, 5%);
                        @include border-color(darken($tertiary, 5%));
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

// When the mobile menu is opened we need to stop scrolling
@include query-up-to(lg) {
    #app.menu-is-open {
        height: 100vh;
        overflow: hidden;
    }
}

// Alert bar for facebook redirect errors
.alert-bar {
    background-color: $color-error;
    color: $color-white;
    padding: 1.2rem;
}
