@import "mixins";
@import "sprite";
@import "all.scss";
@import "pages/home.scss";
@import "pages/signup.scss";
@import "pages/lab_tests.scss";
@import "pages/about.scss";
//
 @include sprites($spritesheet-sprites);
 @include retina-sprites($retina-groups);
//
// elements
.button {
    &.is-primary {
        &.has-arrow {
            &:after {
                content: "\f105";
                font-family: FontAwesome;
                color: #fff;
                transition: margin 0.2s ease;
                @include margin(null null null .25em);
                @include margin(null .25em null null);
                position: relative;
                right: -.5em;
            }
            @at-root &:hover:after {
                @include margin(null null null .5em);
                @include margin(null 0 null null);
            }
        }
        &.is-outlined {
            &.has-arrow {
                &:after {
                    color: $primary;
                }
            }
            &:focus,
            &:hover {
                color: $primary;
                background-color: transparent;
            }
        }
    }
    &.is-secondary {
        color: $harvey-purple;
        @include border-color($harvey-purple);
        &.has-arrow {
            &:after {
                content: "\f105";
                font-family: FontAwesome;
                color: $harvey-purple;
                transition: margin 0.2s ease;
                @include margin(null null null .25em);
                @include margin(null .25em null null);
                position: relative;
                right: -.5em;
            }
        }
    }
}

.page-content {
    p:not(.title),
    .content ul {
        font-family: $family-secondary;
    }
}

.title + .subtitle {
    @include margin(0.25rem null null null);
}

.disclaimer {
    font-family: "proxima-nova" !important;
}

blockquote {
    font-family: $family-secondary;
    font-style: italic;
    font-size: $size-5;
}

.is-paddingless-mobile {
    @include until($tablet) {
        @include padding(0);
    }
}

.column.is-auto-desktop {
    @include from($desktop) {
        width: auto;
        flex: 1;
    }
}

.vertical-tabs {
    .menu-list a {
        &:not(.is-active):hover {
            color: $tertiary;
        }
        &.is-active {
            background-color: $tertiary;
        }
    }
}

.check-load {
    opacity: 0;
    transition: opacity cubic-bezier(1,.03,.42,.88) .25s;
    &.is-loaded {
        opacity: 1;
    }
}

.has-small-lineheight {
    line-height: 1;
}

@include from($tablet) {
    .copy-has-max-width {
        max-width: 700px;
        @include margin(0 auto);
    }
}

// page specific styles
body {
    &.signup,
    &.register {
        #app {
            @include padding( null null 0 null);
        }
    }
    &.login,
    &.signup:not(.widget),
    &[class*="password-reset"] {
        .page-content + .footer {
            display: none;
        }
        &.hero {
            justify-content: flex-start;
        }
        .page-content {
            .container {
                @include margin(0 auto);
                width: 100%;
                max-width: 510px;
            }
        }
        .section {
            background-color: transparent;
        }
        a.button:not(.is-primary) {
            color: $grey-darker;
        }
    }
    &.home,
    &.about,
    &.lab-tests {
        .header.is-inverted {
            background-color: transparent;
            box-shadow: none;
            .harvey-logo-icon {
                fill: #fff;
                @include from($mobile) {
                    fill: $primary;
                }
            }
            @at-root .no-svg & .logo-wrapper {
                background-image: url('/images/logos/mobile-logo-inverted.png');
            }
            .button {
                &:not(.is-outlined) {
                    color: $tertiary;
                    background-color: #fff;
                    &:hover,
                    &:active,
                    &:focus {
                        color: #fff;
                        background-color: $tertiary;
                    }
                }
                &.is-outlined {
                    color: #fff;
                    @include border-color(#fff);
                    &:hover,
                    &:active,
                    &:focus {
                        color: darken($tertiary, 5%);
                        @include border-color(darken($tertiary, 5%));
                        background-color: transparent;
                    }
                }
            }
        }
    }
}
