.admin-content,
.admin-content #app {
  height: 100%;
  font-family: "proxima-nova";
}

.main-container {
  height: 100%;
}

// Left Nav Bar
.admin-tab-left {
  left: 48px;
  position: relative;
  font-weight: 300;
  color: #EDA1A6;
  font-size: 13px;
  top: 5px;
}

.nav-bar {
  width: 150px;
  background: $white;
  border-right: 1px solid $color--grey;
  bottom: 0;
  flex-basis: 60px;
  position: fixed;
  top: 0;
}

.admin-nav {
  @include margin(57px null null null);
  border-top: 1px solid $color--grey;
  .admin-nav-link {
    background-color: $white;
    border-bottom: 1px solid $color--grey;
    color: lighten($slategrey, 20%);
    display: block;
    height: 52px;
    position: relative;
    width: 100%;

    &.current {
      color: $fiord;
    }

    &.unread {
        .unread-dot {
          display: block;
          border: 1px solid #82BEF2;
          border-radius: 100px;
          height: 10px;
          width: 10px;
          background: #82BEF2;
          position: absolute;
          left: 17px;
          top: 14px;
        }
    }

    &.logout {
      bottom: 0;
      position: absolute;
      border-top: 1px solid $color--grey;
      svg {
        width: 25px;
        height: 25px;
        left: 27%;
        top: 55%;
      }
      .text {
        left: 40%;
        font-size: 15px;
      }
    }
    &:hover {
      cursor: pointer;
    }
    .icon {
      left: 15%;
      top: 49%;
      position: absolute;
      transform: translate(-50%,-50%);

      font-size: 18px;
    }
    .text {
      font-size: 14px;
      position: absolute;
      left: 30%;
      top: 36%;
    }
  }
  .release {
    color: #E4EAEC;
    font-size: 10px;
    bottom: 68px;
    position: absolute;
    text-align: center;
    @include margin(null null null -3px);
    width: 100%;
  }
}

.nav-bar-account {
  .harvey-mark {
    color: #5F7278;
    top: 25px;
    left: 49%;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: border-color .25s ease-in-out;
    width: 100px;
    &:hover {
      opacity: .9;
    }
  }
}

// Main Content Area

.main-content {
  flex-grow: 1;
}

.main-header {
  background: $white;
  border-bottom: 1px solid $color--grey;
  @include padding(40px 10px 20px);
  .container{
    max-width: 1090px;
    @include padding(20px 10px 0 15px);
    @include margin(0);
    .title {
      min-height: 48px;
      margin-bottom: 0;
      .text {
        float: left;
      }
      .main-action{
        float: left;
        width: 40px;
        height: 40px;
        @include padding(0);
        @include margin(-1px 0 0 10px);
        &.circle{
          border-radius: 1000px;
          svg {
            width: 24px;
            height: 24px;
            @include margin(null null null 0);
            @include margin(2px null null null);
          }
        }
      }
    }
  }
}
