// Thanks! http://output.jsbin.com/yaruh

/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
.custom-select {
    border: 1px solid $color-gray-5;
    border-radius: 3px;
    display: block;
    position: relative;
    @include margin(.25em 0 0);
    select {
        &.disabled {
            opacity: .9;
            &:hover {
                cursor: not-allowed;
            }
        }
    }
}
.custom-select.show-day-label:before,
.custom-select.show-time-label:before,
.custom-select.detached-label:before {
  @extend %font-sm;
  color: $color-copy;
  display: block;
  padding: 8px $font-xs;
  position: absolute;
  z-index: -10;
}
.custom-select.show-day-label:before {
  content: 'Select Day';
}
.custom-select.show-time-label:before {
  content: 'Select Time';
}
.custom-select.detached-label:before {
  content: attr(data-detached-label);
}

/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.custom-select select {
	width: 100%;
	@include margin(0);
	outline: none;
	padding: 8px;
  color: $color-copy;
  cursor: pointer;

	/* Prefixed box-sizing rules necessary for older browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* Font size must be 16px to prevent iOS page zoom on focus */
	font-size: $font-sm;
  font-family: inherit;
  font-weight: inherit;
}


/* Custom arrow sits on top of the select - could be an image, SVG, icon font,
 * etc. or the arrow could just baked into the bg image on the select. */
.custom-select::after {
	content: "\25be";
	position: absolute;
	top: 24%;
	right: 1em;
	z-index: 2;
	/* These hacks make the select behind the arrow clickable in some browsers */
	pointer-events: none;
	display: none;
}

.custom-select.isdisabled {
  color: $color-copy-muted-2;
  select { cursor: default; }
  &::after {
    content: '' !important;
  }
}

/* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
 * @supports ( mask-type: alpha ) is Firefox 35+
 */
@supports ( -webkit-appearance: none ) or ( appearance: none ) or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {

	/* Show custom arrow */
	.custom-select::after {
		display: block;
	}

	/* Remove select styling */
	.custom-select select {
		@include padding(null 2em null null); /* Match-01 */
		/* inside @supports so that iOS <= 8 display the native arrow */
		background: none; /* Match-04 */
		/* inside @supports so that Android <= 4.3 display the native arrow */
		border: 1px solid transparent; /* Match-05 */

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
}
