.card-wrapper {
  display: flex;
  max-width: 1150px;
  padding: 40px 50px;
}
  .card {
    background: $white;
    border: 1px solid $color--grey;
    flex-grow: 1;
    margin: 0 15px 15px;
    width: 50%;

    &.smaller {
      flex-basis: 360px;
    }
  }
    .card-empty-container{
      padding: 20px 30px;
      max-height: 70px;
      p {
        font-weight: 300;
        letter-spacing: 1px;
        font-size: 18px;
        font-style: italic;
        padding-left: 10px;
        margin: 0;
        opacity: .5;
      }
    }
    .card-heading-container {
      border-bottom: 1px solid $color--grey;
      padding: 20px 30px;
      background: $lightest-gray;
      .new-appointment{
        float: right;
        padding: 12px 18px;
      }
    }
      .card-header {
        font-size: 16px;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
    .card-content-wrap {
      border-bottom: 1px solid $color--grey;
      padding: 20px 30px;

      &:last-of-type {
        border-bottom: none;
      }
    }
    .card-contact-name {
      font-weight: 200;
      font-size: 24px;
      margin-bottom: 0;
    }
    .card-contact-sublabel {
      color: #9ba2a5;
      font-weight: 700;
      font-size: 12px;
      margin: 0 0 5px;
      text-transform: uppercase;
    }
    .card-contact-info {
      font-weight: 300;
      letter-spacing: 1px;
      font-size: 18px;
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
