.card-wrapper {
  max-width: 1150px;
  &.alert {
    .card {
      background: #9AABB9;
      border: 1px solid darken(#9AABB9, 15%);
      @include padding(20px);
      h3 {
        color: $white;
        @include margin(null null 5px);
        letter-spacing: .75px;
      }
      p {
        color: $white;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: .75px;
      }
      button {
        @include border-color($white);
        color: $white;
      }
    }
  }
}

.card-avatar {
  border-radius: 50%;
  float: left;
  display: inline-block;
  height: 30px;
  margin-right: 20px;
  width: 30px;
}

.icon-person {
  height: 30px;
  margin-right: 15px;
  width: 30px;
  vertical-align: top;
}

.card {
  background: $white;
  border: none;
  border-bottom: 1px solid $color--grey;
  @include margin(15px);
}

.card-empty-container{
  @include padding(20px 30px);
  max-height: 70px;
  p {
    @include margin(0);
  }
}
.card-heading-container {
  border-bottom: 1px solid $color--grey;
  @include padding(20px 30px);
  background: $lightest-gray;
  a {
    display: none;
    font-size: 16px;
  }
}

.card-content-wrap {
  border-bottom: 1px solid $color--grey;
    @include padding(20px 30px);
  .button-wrapper {
    text-align: center;
    clear: both;
    @include margin(2em null .5em null);
  }

  &:last-of-type {
    border-bottom: none;
  }
}
.card-contact-name {
  font-weight: 200;
  font-size: 24px;
  @include margin(null null 0 null);
}
.card-contact-info {
  @include margin(null null 20px null);

  &:last-of-type {
    @include margin(null null 0 null);
  }
}

.card-object {
  @include margin(null null 1em null);
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 1em;
  width: 80%;
  background: rgba(213,225,223,.3);
  .copy-main {
    text-transform: uppercase;
    font-size: 17px;
    i {
      margin-right: .25em;
    }
  }
}

.empty-card {
  height: 70px;
  @include padding(20px 20px 20px 20px);
  @include margin(0);
}

#card-errors {
  color: $color-error;
  font-size: 15px;
  line-height: 1.4;
  @include margin(.5em 0 0 0);
}

.appointment-wrapper:last-of-type .appointment {
  border-bottom: none;
}
.appointment {
  border-bottom: 1px solid #E4EAEC;
  overflow: hidden;
  padding: 20px 30px;
}
.appointment_date, .appointment_doctor {
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 14px;

  p {
    margin-bottom: 0;
  }
}

// Medium breakpoint styles
@include query(lg) {
  .appointments_date,
  .appointment_doctor {
    font-size: 16px;
  }
  .card-wrapper {
    display: flex;
  }

  .card-panel {
    width: 100%;
    @include margin(25px);
  }

  .is-patient .card-panel,
  .card.smaller {
    width: 50%;
    @include margin(25px);
    &:last-child {
      margin-left: 0;
    }
  }

  .card.smaller {
    @include margin(0 25px 25px);
  }

  .card-wrapper.alert {
    @include margin(25px null null);
    .card {
      width: 100%;
      display: flex;
      align-items: center;
      @include margin(0 25px);
    }
    .card-alert-text,
    .card-alert-button {
      flex-grow: 1;
    }
    .card-alert-text {
      width: 70%;
    }
    .card-alert-button {
      width: 30%;
      a {
        float: right;
      }
    }
  }
}

// Helpers

.margin-top {
  @include margin(1em null null null);
}

.margin-bottom {
  @include margin(null null 1em null);
}

.marginless-bottom {
  @include margin(null null 0 null);
}

.margin-negative-top {
  @include margin(-1em null null null);
}
