.flyout {
  background: $white;
  border-left: 1px solid $color--grey;
  bottom: 0;
  max-width: 25em;
  overflow-x: visible;
  overflow-y: scroll;
  @include padding(3em 1.6em 2em);
  position: fixed;
  right: -26em;
  top: 0;
  transition: right 185ms ease-in-out;
  width: 100%;
  z-index: 9999;

  // for certain situations where sub components outside the dimensions of the flyout
  // will be hidden
  &.with-active-modal {
    overflow-y: visible;
  }

  &__ctas {
    text-align: center;
  }

  &__heading {
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }

  &.isactive {
    right: 0;
  }

  &__item {
    display: inline-block;
    @include margin(0.8em null null null);
  }

  &__section {
    @include padding(1.8em 0);

    &:not(:first-child) {
      border-top: 1px solid $color--grey;
    }
  }

  &__patientname {
    display: block;
    font-size: 1.4em;
    font-weight: 500;
    @include margin(null null 0.6em null);
  }

  .title, h2 {
    border-bottom: 1px solid $light-gray;
    @include padding(null null 15px null);
    @include margin(15px null);
  }

}
