.site-header {
    background: $white;
    height: 57px;
    border-bottom: 1px solid #EFEFEF;
    .container {
        max-width: 1152px;
        margin: 0 auto;
        .logo-wrapper {
            float: left;
            max-height: 56px;
        }
    }

    .nav-item {
        float: right;
        padding: .6rem;
    }

}
