// Should match with nav.sass, we need to combine

.header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    height: 60px;
    overflow: hidden;
    background: #FFF;
    .container {
        height: 60px;
        max-width: 1152px;
        @include margin(0 auto);
        @media (max-width:768px) {
            @include padding(0 20px);
        }
        .nav-left {
            float: left;
            width: 20%;
            .logo-wrapper {
                float: left;
                svg {
                    width: 150px;
                    @include margin(8px null null null);
                    @media (max-width:768px) {
                        .harvey-text {
                            display: none;
                        }
                    }
                    &.harvey-mark{
                        width: 150px;
                        @include margin(2px null null null);
                        height: 43px;
                    }
                }
            }
        }
        .nav-right {
            float: right;
            width: 80%;
            .nav-item {
                float: right;
                font-size: 16px;
                @include margin(12px null null null);
                display: flex;
                a {
                    font-size: 16px;
                    @include margin(null null null 10px);
                }
            }
        }
    }
}

.header_phone-number {
    @extend %sans--medium;
    float: right;
    letter-spacing: 1px;
    color: $gray;
    font-size: 19px;
    line-height: 56px;
}
