.text-centered {
  text-align: center;
}
.vertical-center {
  align-self: center;
  margin: auto;
}

em.bold {
  @extend %sans--bold;
  font-style: normal;
}

.flex-wrapper {
  @media (min-width: 850px) { display: flex; }
}

.justify-center {
  justify-content: center;
}

.block {
  display: block;
}

img {
  width: 100%;
}
