.products-side {
    width: 80%;
    float: left;
}

.total-side {
    width: 20%;
    float: left;
}

.sub-items {
    width: 100%;
    float: left;
}

.sub-billing1 {
    width: 70%;
    float: left;
}

.sub-billing2 {
    width: 30%;
    float: left;
}