.left-column {
    width: 70%;
    display: table;
    float: left;

    .input__item {
        display: table;
    }
}

.right-column  {
    width: 30%;
    display: table;

}

.checkout-container {
    @include margin(0);

    .discount {
        color: $casper;
        font-weight: 500;
        @include margin(0 0 .25em 0);
    }

    .total {
        color: $color-good;
        @include margin(0);
    }

    .sub-items {
        width: 100%;
        margin-bottom: .25em;
        float: left;
    }
}

.address, .city, .zip, .state {
   @include margin(0 0 .5em);
}

.city {
    width: 70%;
    float: left;
    display: inline-block;
}

.state {
    &.custom-select{
        width: 28%;
        left: 2%;
        display: inline-block !important;
    }
}

.last-container{
    @include margin(0);
}

.color-good {
    color: $color-good;
}