.container {
  @include margin(0 auto);
  // @include padding(0 25px);

  &.small {
    max-width: 650px; // 600 plus the padding defined on .container
  }
}

// Flex Container
.main-container {
  // display: flex;
}

// Alignment

.inline-centered {
  text-align: center;
}

.inline-left {
  text-align: left;
}

.noscript {
    z-index: 9999;
    width: 510px;
    position: absolute;
    top: 12.5%;
    left: 30%;
    height: 125px;
    background-color: #82BEF2 !important;
    color: white;
    text-align: center;
    padding: 20px;
}
.noscript-header {
  font-size: 20px !important;
  font-family: "proxima-nova";
  font-weight: 300;
  line-height: 1.5;
}
