.unread {
    border-left: 6px solid #82BEF2 !important;
}
.container-message {
    background-color: white;
    border: 1px solid $color--grey;
    width: 100%;
    @include padding(25px);
}
.container-detail-message {
    background-color: white;
    height: auto;
    border-left: none;
    width: 1000px;
}
.container-detail {
    background-color: white;
    max-height: 600px;
    min-height: 600px;
    border-left: none;
    width: 1000px;
    overflow: scroll;
}
.top-layer {
    font-weight: 300;
    text-align: left;
    @include margin(0);
}
.top-layer:first-child {
  font-weight: bold;
}
.top-layer-margin {
  @include margin(null null 18px null);
}
.subject-header {
    font-size: 18px;
    text-align: left;
    @include margin(0);
}
.messages-wrapper {
  a {
    display: block;
    @include margin(null null 25px);
  }
}
.message-margin {
    border-bottom: 1px solid $light-gray;
    @include margin(null null 16px);
}
.message-layer {
    font-weight: 300;
    text-align: left;
    width: 100%;
    @include margin(0);
}
.details {
  color: $dark-gray;
}
.image-card {
    width: 80px;
    @include margin(0 auto 25px);
}
.image-avatar {
    border-radius: 50%;
}
.border-message {
    border-bottom: 2px solid #f8f8f8;
}

@include query(md) {
  .image-card {
    float: left;
  }
  .details {
    @include margin(null null null 105px);
  }
}
