.modal-wrapper {
  background: rgba(74,74,74,.3);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
}

.modal-wrapper.appointment-modal {
  z-index: 9999;
}

.modal {
  width: 34em;
  position: fixed;
  top: 40%; left: 50%;
  transform: translate(-50%,-40%);

  z-index: 200;
  background: $white;
  @include padding(20px);

  p {
    font-size: 16px;
  }

  .modal-table {
    font-size: $font-md;
    margin-top: 1.5em;
    line-height: 1.5em;
    tr td {
      font-weight: 300;
    }
  }

  .modal-header {
    border-bottom: 1px solid $color-gray-0;
    @include padding(null null 15px null);
    @include margin(null null 30px null);
  }

  .modal-button-container {
    p {
      font-style: italic;
      font-size: $font-md;
      @include margin(1em null null null);
    }
    button {
      width: 100%;
      display: inline-block;
      @include margin(10px null null null);
    }
  }
}

@include query(lg) {
  .modal-button-container {
    button {
      width: auto;
    }
  }
  .appointment-modal .button--cancel {
    @include margin(0 0 0 15px);
  }
}
