.notification {
  background: darken($harvey-green, 10);
  border-radius: 3px;
  color: $white;
  line-height: 2em;
  @include padding(1em 1.7em 1em 1.2em);
  position: fixed;
  z-index: 9999;

  &.error {
    background: $pink;
  }
}

.notify-color {
  color: $white;
}

.notification-symbol {
  border: 2px solid $white;
  border-radius: 50%;
  display: inline-block;
  height: 2em;
  @include margin(null 0.75em null null);
  text-align: center;
  width: 2em;
}

.notification.from-top-right {
  right: -3000px;
  top: 25px;
  transition: right 750ms ease-in-out;

  &.isactive {
    right: 25px;
  }
}

.notification.from-bottom-right {
  right: -3000px;
  bottom: 25px;
  transition: right 750ms ease-in-out;

  &.isactive {
    right: 25px;
  }
}
