.doctor-label {
    height: 410px;
    .radio-block_container {
        background-color: $light-gray;
        border: 2px solid $light-gray;
        border-radius: 5px;
        cursor: pointer;
        height: 105%;
        @include padding(30px);
        &:hover {
            border: 2px solid $harvey-primary;
            box-shadow: inset 0px 0px 0px 5px $harvey-primary;
        }
        h2{
            @include margin(null null 10px null);
        }
        .tip {
            color: #999999;
            display: block;
            font-size: 16px;
            line-height: 18px;
            @include margin(null null 15px null);
            clear: both;
            &.blue{
                color: $harvey-tertiary;
                font-size: 14px;
                opacity: .7;
                @include margin(3px null null null);
            }
        }
        .practitioner-main-content {
            @include margin(null null 10px null);
            p {
                font-size: 15px;
                line-height: 1.25em;
                @include margin(null null 4px null);
            }
            ul {
                @include margin(7px 0 20px);
                font-size: 15px;
                li {
                    @include padding(5px);
                }
            }
        }
    }
}

.radio_block:checked + label .radio-block_container  {
    border: 2px solid $harvey-primary;
    box-shadow: inset 0px 0px 0px 5px $harvey-primary;
}