.success-wrapper {
  max-width: 700px;
  @include margin(null auto $space-xl);

  .button {
    width: 180px;
    margin: 0 auto 15px;
    display: block;

    @include query(md) {
      display: inline-block;
      margin: 0 15px;
    }
  }
}

.success-icon {
  width: 80px;
  @include query(md) {
    width: 115px;
  }
}
