.signup-schedule-container {
  @include padding($space-xl $space-md);

  & > *:not(a) {
    @include margin($space-sm null null);
  }

  & > p {
    max-width: 500px;
    @include margin(null auto);
  }

  button{
    margin-top: 0;
  }
}

.signup-schedule-wrapper {
  @include query(md) {
    display: flex;
  }
}

.schedule-section {
  background-color: $color-gray-0;
  border: 2px solid $color-gray-1;
  border-radius: 3px;
  @include padding($space-sm);
  font-size: $font-sm;
  text-align: left;
  @include margin(null null $space-sm);

  @include query(md) {
    @include grid-column(1, (columns: 2, gutter: $space-md));
  }

  h3 {
    margin-bottom: 12px;
  }

  ol {
    list-style: none;
    max-width: 390px;
    @include margin(0 auto);
    @include padding(0);
  }

  ol li {
    font-size: $font-xs;
    width: 40px;
    height: 40px;
    display: none; // by default
    margin: 10px 3px 15px;
    border-radius: 50%;
    padding: 12px 0;
    text-align: center;
    font-weight: $font-bold;

    &.available {
      display: inline-block;
      background: $color-gray-4;
      color: $color-accent-dark;
      cursor: pointer;
      opacity: 0.75;
      transition: opacity 100ms ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    &.selected {
      background: $color-accent-dark !important;
      color: $color-white;
    }
  }

  .left-arrow {
    width: 100%;
    font-size: 130px;
    color: $color-gray-4;
    margin: 3rem auto 0;
    text-align: center;
  }

}

.schedule-week {
  margin-bottom: 15px;
}

.schedule-week-info {
  border-bottom: 1px solid $color-gray-4;

  .dates {
    float: right;
  }
}

.schedule-info-text {
  margin-bottom: 5px;
  text-align: center;
}

.time-zone{
  color: $color-callout;
}
