// Global signup styles
.signup-content {
  text-align: center;
  @include padding(50px null null null);
  @include padding(25px 0 0);
  @include margin(null null 60px null);
}

.signup-container {
  background: $white;
  position: relative;
  border-bottom: 1px solid $light-gray;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  @include padding(30px 40px);
  @include margin(0 auto 5px);

  &.small {
    max-width: 500px;
  }
  &.large {
    max-width: 770px;
  }
  &.router {
    @include padding(60px 30px 30px 30px);
  }

  // Main Signup Page

  &.signup {
    h1 {
      @include margin(0 0 1em);
    }
    .form-label {
      .form-input_checkbox {
        @include margin(4px 10px 0 0);
      }
    }
  }

  .button {
    @include margin(.5em null null);
    min-height: 40px;
    min-width: 160px;
  }

}

.signup-aside-text{
  .logo-wrapper {
    @include margin(0 auto);
    .MainNav_Logo {
      color: #fff;
      width: 200px;
      height: 60px;
    }
  }
}

.signup-aside-icon-row {
  text-align: center;

  span {
    display: inline-block;
    padding: $space-sm;
    width: 80px;
  }

  svg {
    max-height: 80px;
    width: 100%;
    fill: #ddd;
  }

  svg.use-stroke {
    stroke: #ddd;
  }
}

.error-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// We should merge these at some point

.error-text, .copy-error, .copy-good {
  width: 100%;
  line-height: 1.3;
  @include margin(0);
  @include padding(8px 0 0);
  text-align: left;
  .flyout & {
    text-align: left;
    @include padding(0);
  }
  .error-list & {
    line-height: 1em;
    font-size: 15px;
  }
}

// Signup Back Button

.signup-back-button {
  opacity: .7;
  position: absolute;
  top: 0; left: 0;
  @include padding(20px);
  transition: opacity 200ms ease-out;

  i {
    left: 3px;
    position: relative;
    transition: left 200ms ease-out;
  }

  span {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    bottom: 1px;
  }

  &:hover {
    color: $turquoise;
    opacity: 1;

    i {
      left: 0;
    }
  }
}

// Signup Icons

.signup-main-icon {
  width: 100px;
  height: 100px;
  @include margin(0 auto 2em);
  fill: $color-gray-1;

  svg {
    width: 100%;
    height: 100%;
    &#rocket {
      height: 120px;
    }
  }

  .icon-phone-sms {
    height: 100px;
    left: 15px;
    position: relative;
  }

  .icon-phone {
    height: 100px;
  }

}

.social-icon-wrapper a {
  display: inline-block;
  font-size: 24px;
  @include margin(0 10px 10px);
  @include query(md) {
    font-size: 34px;
    @include margin(0 15px 10px);
  }
}

// Signup Header

.signup-stage-instructions {
  max-width: 540px;
  @include margin(0 auto 22px);

  p {
    @include margin(15px 0 30px);
  }
}

// Progress Indicator

.signup_progress-indicator {
  @include margin(25px 0);
  text-align: center;
}

.signup_progress-step {
  background: #DDD;
  border-radius: 50%;
  display: inline-block;
  height: 18px;
  @include margin(null 10px null null);
  width: 18px;

  &:last-child {
    @include margin(null 0 null null);
  }

  &.current {
    background: $gray;
  }
}

// Checked Radio

.radio-block {
  @include margin(null null 40px null);
  width: 100%;
  @media (min-width: 850px) { width: 50%; }

  &:not(:last-child) {
    @include margin(null null 40px null);
    @include margin(null 40px null null);
  }
}

.guide-block {
  text-align: center;
}

.price{
  border-top: 1px solid #DDD;
  @include padding(20px null null null);
}

.radio_block {
  visibility: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.closing-selection{
  @include margin(1em null 1.5em);
  span {
    background: $color-gray-0;
    @include padding(.25em 0.4em);
    border-radius: 5px;
  }
}

// Input Fields

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.form-input_text {
  border: none;
  border-bottom: 1px solid $color-gray-5;
  @include padding(7px);
}

// Add event button overrides

#addeventatc1, .addeventatc1 {
  font-family: $sans !important;
  font-size: 16px !important;
  color: #888 !important;
  @include border-color( #ccc);
  font-weight: 400 !important;
  @include margin(10px auto 25px);
  transition: opacity 200ms ease-in !important;
  &:hover{
    opacity: .75 !important;
  }
  &.isVisible {
    opacity: 1 !important;
  }
}
.addeventatc_dropdown .copy {
  height: 8px !important;
}
.addeventatc_dropdown .copyx em {
  display: none !important;
}

// New grid layout
$signup-grid: (
  columns: 12,
  gutter: 25px
);

.signup-wrapper {
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  @extend %clearfix;
}
.signup-quotes {
  display: none;
}

@include query(lg) {
  .signup-wrapper {
    // If desktop, give margin. Otherwise, tablets shouldn't get margin-top
    @media (min-height: 780px) {
        margin-top: 80px;
    }
  }

  .signup-quotes {
    @include grid-column(6, $signup-grid);
    display: block;
    position: relative;
    top: 45px;
    height: 600px;
  }
  .signup-form-inputs {
    @include grid-column(6, $signup-grid);
  }
}
