// Global signup styles
.signup-content {
  padding-top: 25px;
  text-align: center;
  margin-bottom: 60px;
}

.signup-form-container {
  background: $white;
  border-bottom: 1px solid $light-gray;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  margin: 30px auto;
  max-width: 510px;
  padding: 30px;
  @media (min-width: 850px) { padding: 50px 90px; }
  text-align: left;

  &.large {
    max-width: 775px;
    padding: 30px;
    @media (min-width: 850px) { padding: 60px 75px; }
  }
}

a:active,
a:focus,
a:hover {
  color: $harvey-secondary;
}

// Registration specific styles
.registration-tree, .interstitial {
  margin-bottom: 25px;
  max-width: 470px;
  width: 100%;
}

.interstitial {
  margin-top: 20px;
}

// Progress Indicator
.signup_progress-indicator {
  margin-bottom: 25px;
  text-align: center;
}
  .signup_progress-step {
    background: #DDD;
    border-radius: 50%;
    display: inline-block;
    height: 18px;
    margin-right: 10px;
    width: 18px;

    &:last-child {
      margin-right: 0;
    }

    &.current {
      background: $gray;
    }
  }


// Checked Radio
.radio-block {
  margin-bottom: 40px;
  width: 100%;
  @media (min-width: 850px) { width: 50%; }

  &:not(:last-child) {
    margin-bottom: 40px;
    margin-right: 40px;
  }
}
.radio-block_container {
  background-color: $light-gray;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  padding: 20px;
  h2{
    margin-bottom: 7px;
  }
  .tip{
  margin-bottom: 15px;
  }
  img {
    max-width: 65px;
    border-radius: 3px;
    display: block;
    float: left;
    margin: 3px 12px 10px 0;
  }
  &:hover {
    border: 1px solid $harvey-primary;
    box-shadow: inset 0px 0px 0px 6px $harvey-primary;
  }
}

.practitioner-main-content {
    margin-bottom: 10px;
  p{
    font-size: 14px;
    line-height: 1.25em;
    margin-bottom: 4px;
  }
  ul {
    margin: 7px 0 20px;
    font-size: 14px;
  } li {
    margin-bottom: 5px;
  }
}

.price{
  border-top: 1px solid #DDD;
  padding-top: 20px;
}

.tip{
  color:$gray;
  display:block;
  font-size:17px;
  clear:both;
  &.blue{
    color: $harvey-tertiary;
    font-size: 14px;
    opacity: .7;
    margin-top: 3px;
  }
}

.radio_block:checked + label .radio-block_container  {
  border: 1px solid $harvey-primary;
  box-shadow: inset 0px 0px 0px 6px $harvey-primary;
}

.radio_block {
  visibility: hidden;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s ease-out;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

// Input fields

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


// Calendar
.calendar-block {
  margin-bottom: 55px;
  width: 100%;
  @media (min-width: 850px) { width: 50%; }

  &:not(:last-child) {
    margin-bottom: 55px;
    margin-right: 50px;
  }
}
  .calendar-block_container {
    background-color: $lightest-gray;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    height: 100%;
    padding: 25px 35px;
  }
    .calendar-main-content  {
      border-bottom: 1px solid $gray;
      margin-bottom: 25px;
      padding-bottom: 25px;
    }

      .calendar-week-container {

      }
        .calendar-week-container_title-wrapper {
          border-bottom: 1px solid #ccc;
          margin-top: 20px;
          padding-bottom: 10px;
        }
          .calendar-week-container_title {
            display: inline-block;
            font-size: 15px;
            margin-bottom: 0;
          }
          .calendar-week-container_date {
            display: inline-block;
            float: right;
            font-size: 10px;
            line-height: 2.5;
          }

        .calendar-week-container_days-wrapper {
          list-style: none;
          overflow: hidden;
          margin: 0 0 10px;
          padding: 15px 0 0 0;
        }
          .calendar-item {
            background: #F1F1F2;
            border-radius: 50%;
            float: left;
            height: 35px;
            margin: 0 10px 10px 0;
            position: relative;
            transition: box-shadow .25s ease-in-out;
            width: 35px;

            &.bar {
              border-radius: 0;
              height: auto;
              width: 100%;
            }

            &:nth-child(5n) {
              @media (min-width: 850px) { margin-right: 0; }
            }

            &.selected {
              background-color: $harvey-primary;

              .calendar-item_link {
                color: $white;
              }

              &:hover {
                box-shadow: none;
              }
            }

            &:not(.not-available):hover {
              box-shadow: inset 0 0 0 3px #DFDFDF;
            }

            .calendar-item_link {
              color: $darkest-gray;
              border: none;
              background: none;
              cursor: pointer;
              font-size: 12px;
              padding: 0;
              line-height: 35px;
              text-align: center;
              width: 100%;

              &[disabled] {
                cursor: default;
                opacity: 0.5;
              }
            }
          }
  .calendar-notice p {
    margin: 0 auto 25px;
    max-width: 355px;
    font-style: italic;
  }

// Confirmation
.confirmation {

}
  .confirmation_calendar {
    margin: 30px auto;
    max-width: 132px;
  }
    .confirmation_date {
      font-size: 23px;
      margin-bottom: 20px;
    }
      .confirmation_day {
        @extend %sans--bold;
      }
      .confirmation_time {
        @extend %sans--bold;
      }
      .confirmation_calendar-add {
        background: none;
        border: none;

        img {
          max-width: 29px;
          vertical-align: bottom;
        }
      }
    .confirmation_reschedule {
      display: inline-block;
      margin-bottom: 20px;
    }
    .confirmation_text {
      margin-bottom: 30px;
    }

// Form Errors/Feedback
.error-container {
  margin: 0 0 15px 0;
}

// Add event button overrides
.addeventatc {
  font-family: $sans;
  color: $gray;
  opacity: 0;
  transition: opacity 200ms ease-in;
  &.isVisible {
    opacity: 1;
  }
}
.addeventatc_icon {
  background-image: url(/images/signup/calendar-add.png) !important;
}
.addeventatc_dropdown .copyx {
  height: 8px !important;
}
.addeventatc_dropdown .copyx em {
  display: none !important;
}

/* AddEvent theme CSS
---------------------------------------------------------------------- */

/* The button */
.addeventatc 							{display:inline-block;position:relative;z-index:999998;font-family:"Source Sans Pro", serif;color:#444!important;font-weight:500;line-height:100%;background:#fff;border:1px solid;border-color:#e5e6e9 #dfe0e4 #d0d1d5;font-size:15px;text-decoration:none;margin-bottom:20px;padding:13px 12px 12px 43px;-webkit-border-radius:3px;border-radius:3px;cursor:pointer;-webkit-font-smoothing:antialiased!important;text-shadow:1px 1px 1px rgba(0,0,0,0.004);}
.addeventatc:hover 						{border:1px solid #CCC;color:#777;font-size:15px;text-decoration:none;}
.addeventatc:active 					{top:1px;outline:none;}
.addeventatc-selected 					{background-color:#f9f9f9;}
.addeventatc .icon 						{width:18px;height:18px;position:absolute;z-index:1;left:12px;top:10px;background:url(/images/gfx/icon-calendar-t1.svg) no-repeat;background-size:18px 18px;}
.addeventatc .start, .addeventatc .end, .addeventatc .timezone, .addeventatc .title, .addeventatc .description, .addeventatc .location, .addeventatc .organizer, .addeventatc .organizer_email, .addeventatc .facebook_event, .addeventatc .all_day_event, .addeventatc .date_format, .addeventatc .alarm_reminder, .addeventatc .recurring, .addeventatc .attendees, .addeventatc .calname, .addeventatc .uid, .addeventatc .status, .addeventatc .method, .addeventatc .client {display:none!important;}

/* The drop down */
.addeventatc_dropdown 					{width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:-2px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);}
.addeventatc_dropdown span 				{display:block;line-height:100%;background:#fff;text-decoration:none;font-size:14px;color:#333;padding:9px 10px 9px 40px;}
.addeventatc_dropdown span:hover 		{background-color:#f4f4f4;color:#444;text-decoration:none;font-size:14px;}
.addeventatc_dropdown em 				{color:#999!important;font-size:12px!important;}
.addeventatc_dropdown .frs 				{background:#fff;color:#cacaca!important;cursor:pointer;font-size:9px!important;font-style:normal!important;font-weight:normal!important;line-height:110%!important;padding-left:10px;position:absolute;right:10px;text-align:right;text-decoration:none;top:5px;z-index:101;}
.addeventatc_dropdown .frs:hover 		{color:#999!important;}
.addeventatc_dropdown .ateappleical 	{background-image:url(/images/gfx/icon-apple-t1.svg);background-position:13px 50%;background-repeat:no-repeat;background-size:14px auto;}
.addeventatc_dropdown .ateoutlook 		{background-image:url(/images/gfx/icon-outlook-t1.svg);background-position:12px 50%;background-repeat:no-repeat;background-size:16px auto;}
.addeventatc_dropdown .ateoutlookcom 	{background-image:url(/images/gfx/icon-outlook-t1.svg);background-position:12px 50%;background-repeat:no-repeat;background-size:16px auto;}
.addeventatc_dropdown .ategoogle 		{background-image:url(/images/gfx/icon-google-t1.svg);background-position:12px 50%;background-repeat:no-repeat;background-size:16px auto;}
.addeventatc_dropdown .ateyahoo 		{background-image:url(/images/gfx/icon-yahoo-t1.svg);background-position:12px 50%;background-repeat:no-repeat;background-size:16px auto;}
.addeventatc_dropdown .atefacebook 		{background-image:url(/images/gfx/icon-facebook-t1.svg);background-position:12px 50%;background-repeat:no-repeat;background-size:16px auto;}
.addeventatc_dropdown .copyx 			{height:21px;display:block;position:relative;cursor:default;}
.addeventatc_dropdown .brx 				{height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;right:10px;top:9px;}
