.signup-phone-container {
  max-width: 500px;
  @include margin(0 auto 2px);
  @include padding($space-xl $space-md);
  @include query(sm) {
    @include padding($space-xl);
  }

  .error-text {
    display: block;
    margin: 15px 0 0;
  }
}

.phone-input-container > * {
  @include margin($space-md null null);
}

.phone-confirm-button {
  position: relative;
  .button-text {
    display: inline-block;
    margin-left: 16px;
  }
  i {
    left: 24px;
    top: 7px;
    font-size: 12px;
    padding: 4px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
  }
}

.phone-confirm-input-wrapper input {
  display: inline-block;
  width: 30px;
  text-align: center;
  height: 42px;
  border: 2px solid #aaa;
  border-radius: 3px;
  font-size: 22px;
  font-family: monospace;
  margin: 0 2px;
  padding: 0;
  color: #555;

  &:disabled {
    opacity: 0.5;
  }
}

.phone-process-button {
  background: none;
  border: none;
  display: block;
  outline: none;
  font-size: 16px;
  color: $harvey-tertiary;
  cursor: pointer;
  transition: color 100ms ease-in;
  @include margin(25px auto 0);

  &.edit-phone{
    margin-top: 8px;
  }

  &:hover {
    color: $dark-gray;
  }

  &:disabled {
    opacity: 0.5;
    color: $harvey-tertiary !important;
    cursor: default;
  }
}
