.credit-card {
  margin-bottom: $space-lg;
  text-align: left;
  -webkit-font-smoothing: antialiased;

  // Overwrite of card.js plugin
  .jp-card-container {
    width: 100% !important;
    max-width: 350px !important;
  }
}

#credit-card-form {
    .input-wrap {
        @include margin(null null 1em null);
        .form-input {
            border: none;
            border-bottom: 2px solid $color-gray-3;
            @include padding(7px);
        }
    }
}

.trust-logos {
  @media screen and (max-width: 560px) {
      display: none;
  }
  .stripe {
    max-width: 95px;
    @include margin(-15px 10px null 8px);
    float: left;
  }
  .bbb {
    max-width: 80px;
    @include margin(3px null null 5px);
    float: left;
  }
}
