.credit-card {
  margin-bottom: $space-lg;
  text-align: left;
  -webkit-font-smoothing: antialiased;

  // Overwrite of card.js plugin
  .jp-card-container {
    width: 100% !important;
    max-width: 350px !important;
  }
}

#credit-card-form {
    @include margin(null null 1em null);
    .input-wrap {
        @include margin(null null 1em null);
        .form-input {
            border: none;
            border-bottom: 2px solid $color-gray-3;
            @include padding(7px);
        }
    }  
}
