.signup-schedule-container {
  @include padding($space-xl $space-md);

  & > *:not(a) {
    @include margin($space-sm null null);
  }

  & > p {
    max-width: 500px;
    @include margin(null auto);
  }

  button{
    margin-top: 0;
  }
}

.signup-schedule-wrapper {
  @include query(md) {
    display: flex;
  }
}

.schedule-section {
  background-color: $light-gray;
  border: 2px solid #eee;
  border-radius: 3px;
  @include padding($space-sm);
  font-size: 14px;
  text-align: left;
  @include margin(null null $space-md);

  @include query(md) {
    @include grid-column(1, (columns: 2, gutter: $space-md));
  }

  h3 {
    font-size: 18px;
    text-align: center;
  }

  ol {
    list-style: none;
    max-width: 390px;
    @include margin(0 auto);
    @include padding(0);
  }

  ol li {
    font-size: 12px;
    color: #ccc;
    width: 40px;
    height: 40px;
    display: none; // by default
    margin: 10px 3px 15px;
    border-radius: 50%;
    padding: 13px 0;
    text-align: center;
    font-weight: 700;

    &.available {
      display: inline-block;
      background: #e6e6e6;
      color: #82BEF2;
      cursor: pointer;
      transition: background 100ms ease-in-out;

      &:hover {
        background: #dedede;
      }
    }

    &.selected {
      background: $harvey-tertiary !important;
      color: $white;
    }
  }

}

.schedule-week-info {
  border-bottom: 1px solid #ddd;

  .dates {
    float: right;
    color: $gray;
    font-size: 12px;
  }
}

.schedule-info-text {
  margin-bottom: 5px;
  text-align: center;
  font-size: 21px;
  font-weight: 500;
  color: #444;
}

.time-zone{
  color: #E3BAB3;
  font-size: 13px;
  text-align: center;
}
