// Sign up practitioner page
$practitioner-grid: (
  columns: 12,
  gutter: $space-md
);

.practitioner-selection{
  padding: 1rem 0;
  .selected-practitioner {
    font-weight: 600;
  }
  span {
    background: $color-gray-0;
    //border: 2px solid $turquoise;
    @include padding(.25em 0.4em);
    border-radius: 5px;
  }
}

.signup-practitioner-wrapper {
  @include query(md) {
    display: flex;
    @include padding(25px 0 0);
  }
}

.signup-practitioner-selector {
  background: none;
  border: 4px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  max-width: 80px;
  outline: none;
  overflow: hidden;
  padding: 0;

  img { display: block; }

  &.active,
  &:active,
  &:hover,
  &:focus {
    border-color: $turquoise;
  }

  &-name {
    display: block;
    margin-top: 8px;
  }

  &-wrap {
    margin-bottom: 1.5em;
    min-height: 130px;
    text-align: center;
    @include grid-column(6, $practitioner-grid);
    @include query(sm) {
      @include grid-column(3, $practitioner-grid);
    }
    @include query(md) {
      @include grid-column(6, $practitioner-grid);
    }
  }
}

.signup-section-header {
  border-bottom: 1px solid $color-gray-0;
  margin: 0 1.5em 1.5em;
  padding: 1em 0;
}

.practitioner-wrapper {
  background: $lightest-gray;
  border-radius: 3px;
  border: 2px solid $color-gray-0;
  overflow: hidden;
  padding-bottom: 1.5em;
  position: relative;
  text-align: left;

  @include margin(null null 20px);

  @include query(md) {
    @include grid-column(6, $practitioner-grid);
  }
}
.practitioner-bg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80px;
  opacity: 0.5;
  width: 100%;
}
.practitioner-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid white;
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translate(-50%, 0);
}
.practitioner-name {
  @include margin(36px 0 12px);
}
.practitioner-license {
  font-size: 12px;
  color: #BBB;
  @include margin(null null 20px);
}
.practitioner-info-wrapper {
  @include padding(0 20px 20px);
}
.practitioner-divider {
  width: 80%;
  @include margin(18px auto 0);
  border: none;
  border-bottom: 2px solid $color-gray-0;
}
.practitioner-info {
  list-style: none;
  @include padding(0);
  span {
    @extend %font-normal;
    color: $color-accent-dark;
  }
}
.practitioner-rate {
  @include margin(15px 0);
}
