// New signup icons
.quotes-icons {
  border-collapse: separate;
  display: table;
  width: 100%;
  height: inherit;
  padding: 0 35px;
}
.quotes-icons-top,
.quotes-icons-bottom {
  display: table-row;
  & > * {
    display: table-cell;
    &.show-xl {
      display: none;
      @include query(xl) { display: table-cell; }
    }
  }
  svg {
    width: 100%;
    max-width: 60px;
    fill: #ddd;
    &.smaller {
      max-width: 45px;
    }
    &.with-stroke {
      stroke: #ddd;
    }
  }
}
.quotes-imgs {
  margin-bottom: 10px;
  a:hover{
    cursor:pointer;
  }
  .harvey {
    max-width: 200px;
    max-height: 70px;
  }
}
.quotes-text {
  position: absolute;
  width: 100%;
  height: inherit;
  top: 43%;
  transform: translate(0,-18%);

  & > blockquote {
    width: 80%;
    margin: 0 auto;
  }
  footer {
    margin-top: 12px;
  }
}
