.tabledata {
  border: none;
  width: 100%;
  @include query(lg) {
    position: relative;
  }

  .empty {
      width: 100%;
      padding: 20px 40px;
  }

  .loading {
    width: 20px;
    fill: $color-copy;
    left: 50%;
    top: 50%;
    position: absolute;
    @include query(lg) {
      top: auto;
    }
  }

  td {
    background: $white;
    border-right: 1px solid $color-gray-0;
    border-left: 1px solid $color-gray-0;
    display: block;
    transition: color 200ms;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    @include query(lg) {
      position: static;
    }

    .flyout & {
      &:last-child {
        border-bottom: 1px solid $color-gray-0;
        @include margin(null null 16px null);
        @include padding(null null 1.5em null);
      }
    }
    &.sku-table__column {
      @include margin(null null 0 null);
    }
  }

  thead {
    display: table-caption;
  }

  tr {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    border: none;
    border-bottom: 1px solid $color-gray-5;
    width: 100%;
  }

  th {
    background: $color-gray-1;
    display: none;
  }

  th, td {
    transition: background 100ms ease-in-out;
    @include padding(1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  tbody {
    tr {
      td {
        opacity: .70;
        &.copy-muted {
          opacity: 1;
          cursor: auto;
          display: table-caption;
        }
      }
    }
  }

  tr.isactive,
  tr.is-selected {
    &:hover {
      opacity: 1;
    }
    td {
        background: lighten($color-accent,15%);
      }
  }

  tr.is-updating td {
    background: $color--grey;
    color: darken($color--grey, 15%);

    & i {
      color: $color-copy;
      font-size: 22px;
      left: 50%;
      position: absolute;
    }
  }

  tr.has-updated td {
    background: $color--grey;
  }

  .cell-wrap:before {
    content: attr(data-column);
    display: block;
    font-weight: bold;
    left: 22px;
    position: absolute;
  }

  .sortable:hover {
    color: darken($gray, 10%);
    cursor: pointer;
  }

  .sorted {
    position: relative;
    &:after {
      color: darken($gray, 5%);
      font-size: 10px;
      position: absolute;
      display: inline-block;
    //   @include padding(2px 10px);
    }
    &.sort-up:after {
      content: '\25B2';
    }
    &.sort-down:after {
      content: '\25BC';
    }
  }

}

.sku-header {
    thead {
        display: flex !important;
    }
    th {
        display: flex !important;
        flex-direction: row !important;
        margin: 1rem !important;
        padding: 0 !important;
    }
    text-align: center;
}

@mixin normalTableStyles {
  & {
    @include padding(0);
  }
  thead th {
    // @include padding(10px 20px);
  }
  th, td {
    // display: table-cell;
    border: none;
    &.copy-muted {
      display: table-caption;
    }
    // @include padding(20px);
  }
  td {
    font-size: 16px;
  }
  .cell-wrap {
    @include margin(0);
  }
  .cell-wrap:before {
    display: none;
  }
}

// Appointments Table
.tabledata.appointments-table .cell-wrap {
  font-size: 14px;
  @include btwQuery(xs, md) {
        margin-left: 90px;
    }
}

@include query(md) {
  .tabledata.appointments-table {
    @include normalTableStyles;
  }
}

// Draggable Table

.container-flex {
    display: flex;
    justify-content: space-between;
}

.sku-table {
  &__sku {
      display: flex;
      color: #5f7278;
      justify-content: space-between;
      height: 50px;
      border-bottom: 1px solid #e4eaec;
      align-items: center;
      background-color: #F4F4F4;
  }

  &__move-icon {
      display: flex;
      justify-content: center;
  }

  &__column {
    width: 12%;
    max-width: 12%;
    &.sort {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
    }
  }

  .cell-wrap {
    &.grabbable:hover {
        cursor: move;
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }
  }

}
