.tabledata {
  border: none;
  width: 100%;
  @include query(lg) {
    position: relative;
  }

  .loading {
    width: 20px;
    fill: $color-copy;
    left: 50%;
    top: 50%;
    position: absolute;
    @include query(lg) {
      top: auto;
    }
  }

  td {
    background: $white;
    border-right: 1px solid $color-gray-0;
    border-left: 1px solid $color-gray-0;
    cursor: pointer;
    display: block;
    transition: color 200ms;
    width: 100%;
    position: relative;
    @include query(lg) {
      position: static;
    }

    &:first-child {
      @include padding(1.5em null null null);
    }
    &:last-child {
      border-bottom: 1px solid $color-gray-0;
      @include margin(null null 16px null);
      @include padding(null null 1.5em null);
    }
  }

  tr {
    position: relative;
  }

  th {
    background: $color-gray-1;
    display: none;
  }

  th, td {
    text-align: left;
    transition: background 100ms ease-in-out;
    @include padding(15px);
  }

  tbody {
    tr {
      td {
        opacity: .70;
        &.copy-muted {
          opacity: 1;
          cursor: auto;
        }
      }
    }
  }

  tr.isactive,
  tr.is-selected {
    &:hover {
      opacity: 1;
    }
    td {
        background: lighten($color-accent,15%);
      }
  }

  tr.is-updating td {
    background: $color--grey;
    color: darken($color--grey, 15%);

    & i {
      color: $color-copy;
      font-size: 22px;
      left: 50%;
      position: absolute;
    }
  }

  tr.has-updated td {
    background: $color--grey;
  }

  .cell-wrap:before {
    content: attr(data-column);
    display: block;
    font-weight: bold;
    left: 22px;
    position: absolute;
  }

  .sortable:hover {
    color: darken($gray, 10%);
    cursor: pointer;
  }

  .sorted {
    position: relative;
    &:after {
      color: darken($gray, 5%);
      font-size: 10px;
      position: absolute;
      display: inline-block;
      @include padding(2px 10px);
    }
    &.sort-up:after {
      content: '\25B2';
    }
    &.sort-down:after {
      content: '\25BC';
    }
  }

}

@mixin normalTableStyles {
  & {
    @include padding(0);
  }
  thead th {
    @include padding(10px 20px);
  }
  th, td {
    border: none;
    border-bottom: 1px solid $color-gray-5;
    display: table-cell;
    width: auto;
    @include padding(20px);
  }
  td {
    font-size: 16px;
  }
  .cell-wrap {
    @include margin(0);
  }
  .cell-wrap:before {
    display: none;
  }
}

// Appointments Table
.tabledata.appointments-table .cell-wrap {
  font-size: 14px;
  @include margin(null null null 90px);
}
@include query(md) {
  .tabledata.appointments-table {
    @include normalTableStyles;
  }
}
