.admin-nav {
  border-top: 1px solid $color-gray-0;
  @include margin(57px null null null);
}

.admin-nav-link {
  border-bottom: 1px solid $color-gray-0;
  color: $color-copy-muted-1;
  display: block;
  height: 60px;
  position: relative;

  .icon {
    left: 15%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .text {
    font-size: $font-sm;
    font-weight: $font-normal;
    left: 30%;
    position: absolute;
    top: 36%;
  }

  &.current {
    color: $color-copy;
  }

  &:hover {
    color: $color-copy;
    cursor: pointer;
  }
}

.admin-nav-link.logout {
  border-top: 1px solid $color-gray-0;
  bottom: 0;
  position: absolute;
  width: 100%;

}

.nav-bar {
  background: white;
  border-right: 1px solid $color-gray-5;
  bottom: 0;
  left: -150px;
  position: fixed;
  top: 0;
  transition: left 200ms ease-in-out;
  width: 150px;
  z-index: 1000;

  .menu-button {
    background: none;
    border: none;
    color: $color-copy;
    cursor: pointer;
    right: -40px;
    position: absolute;
    @include padding(13px);
  }

  .menu-open & {
    left: 0;
  }

}

.nav-bar-account .harvey-mark {
  top: 25px;
  left: 49%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: border-color 100ms ease-in-out;
  width: 100px;
  &:hover {
    opacity: .9;
  }
}

.release {
  color: $color-gray-5;
  font-size: 10px;
  bottom: 68px;
  position: absolute;
  text-align: center;
  width: 100%;

  @include margin(null null null -3px);
}

@include query(lg) {
  .nav-bar {
    left: 0px !important;
  }
}
